
  <% @found_user = User.find_by(id: comment.user_id) %>
  <%= comment.content %> - <%= user_name_linked_or_not %> - <%= comment.created_at %>
  <% if current_user && (current_user.admin || current_user == comment.user) %>
  <%= link_to "Delete", comment_path(comment), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'float:right;margin-left:10px'%>
  <%= link_to "Edit", edit_comment_path(comment), :style => 'float:right'%>
  <% end %>
  <% if comment.replies %>
    <div style="margin:10px 0 0 40px;width:auto;">
      <% comment.replies.each do |reply| %>
        <hr style="border-top:1px dotted black">
        <% @found_user = User.find_by(id: reply.user_id) %>
        <%= reply.content %> - <%= user_name_linked_or_not %> - <%= reply.created_at %>
        <% if current_user && (current_user.admin || current_user == reply.user) %>
          <%= link_to "Delete", reply_path(reply), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'float:right;margin-left:10px'%>
          <%= link_to "Edit", edit_reply_path(reply), :style => 'float:right'%>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% else %>
    <hr>
  <% end %>
