
  <% @found_user = User.find_by(id: comment.user_id) %>
  <%= comment.content %> - <%= link_to @found_user.name, user_path(@found_user) %> - <%= comment.created_at %>
  <% if current_user.admin || current_user == comment.user %>
  <%= link_to "Delete Comment", comment_path(comment), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'float:right'%>
  <% end %>
  <% if comment.replies %>
    <div style="margin:10px 0 0 40px;width:auto;">
      <% comment.replies.each do |reply| %>
        <hr style="border-top:1px dotted black">
        <% @found_user = User.find_by(id: reply.user_id) %>
        <%= reply.content %> - <%= link_to @found_user.name, user_path(@found_user) %> - <%= reply.created_at %>
        <% if current_user.admin || current_user == reply.user %>
          <%= link_to "Delete Reply", reply_path(reply), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'float:right;margin-left:10px'%>
          <%= link_to "Edit Reply", edit_reply_path(reply), data: {:confirm => 'Are you sure?'}, :style => 'float:right'%>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% else %>
    <hr>
  <% end %>
