<style>
  body {
    background-image: url(<%= Proposal.find(rand(1..Proposal.count)).image_url %>);
    background-size: cover;
    margin: 0;
  }
</style>

<h1 style="font-size:60px;display:inline-block;width:auto;height:auto;margin:0px 0px 10px 10px;background:white;border-radius:5px;padding:10px;">
Admin Stats</h1><br>

<% if Proposal.any? && Proposal.winning_proposal %>

  <h2 style="width:1040px;height:auto;margin:10px 0px 10px 10px;float:left;background:white;border-radius:5px;padding:10px;">
    <a href="#" onclick="getOtherUserProfile(<%= Proposal.winning_proposal[0].user.id %>); return false"><%= Proposal.winning_proposal[0].user.name %></a>'s proposal,
    <a href="#" onclick="documentReadyCalls(<%= Proposal.winning_proposal[0].id %>); return false;"><%= Proposal.winning_proposal[0].name %></a>, has the highest
    average user rating and highest number of votes.
  </h2>

<% end %>

  <div style="display:inline-block;height:auto;width:100%;">

  <% if Proposal.any? %>

    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
      <h2 style="margin:10px 0;">Proposals</h2>
      <h3 style="margin-top:0"><a href="#" style="margin-top:0px;" onclick="indexTemplate();return false;">View All Proposals</a></h3>
      <p style="margin:0px;">Newest Proposal: <a href="#" onclick="documentReadyCalls(<%= Proposal.last.id %>); return false;"><%= Proposal.last.name %></a></p>
      <p style="margin:0px;">Number of proposals submitted today: <%= Proposal.created_today.count %> </p>
      <p style="margin:0px;">Total number of proposals: <%= Proposal.all.count %></p>
    </div>

  <% end %>

  <% if User.any? %>
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
      <h2 style="margin:10px 0;">Users</h2>
      <h3 style="margin-top:0"><a href="#" style="margin-top:0px;" onclick="userIndexTemplate(); return false;">View All Users</a></h3>

        <p style="margin:0px;">Newest User: <a href="#" onclick="getOtherUserProfile(<%= User.last.id %>); return false;"><%= User.last.name %></a></p>
        <p style="margin:0px;">Number of users that joined the site today: <%= User.created_today.count %> </p>
        <p style="margin:0px;">Total number of users: <%= User.all.count %></p>


    </div>
  </div></p>
  <% end %>

  <% if Ranking.any? %>
  <p><div style="display:inline-block;height:auto;width:100%">
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
    <h2 style="margin:10px 0;">Votes</h2>
      <p style="margin:0px;">Number of votes today: <%= Ranking.created_today.count %></p>
      <p style="margin:0px;">Total number of votes: <%= Ranking.all.count %> </p>
    </div>
  <% end %>

  <% if Comment.any? %>
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;overflow:scroll">
    <h2 style="margin:10px 0;">Comments</h2>
      <p style="margin:0px;">Most recent comment: <%= Comment.last.content %> - <a href="#" onclick="getOtherUserProfile(<%= Comment.last.user.id %>); return false;"><%= Comment.last.user.name %></a>
      <p style="margin:0px;">Number of comments posted today: <%= Comment.created_today.count %></p>
      <p style="margin:0px;">Total number of comments: <%= Ranking.all.count %> </p>
    </div>
  </div></p>
  <% end %>
