<style>
  body {
    background-image: url(<%= Proposal.find(rand(1..Proposal.count)).image_url %>);
    background-size: cover;
    margin: 0 50px;
  }
</style>

<h1 style="font-size:60px;display:inline-block;width:auto;height:auto;margin:0px 0px 10px 10px;background:white;border-radius:5px;padding:10px;">
Stats</h1><br>

<% if Proposal.any? && Proposal.winning_proposal %>

  <h2 style="width:auto;height:auto;margin:10px 0px 10px 10px;float:left;background:white;border-radius:5px;padding:10px;"><%= link_to Proposal.winning_proposal[0].user.name, user_path(Proposal.winning_proposal[0].user) %>'s proposal,
  <%= link_to Proposal.winning_proposal[0].name, proposal_path(Proposal.winning_proposal[0]) %>, has the highest
  average user rating and highest number of votes.</h2>

<% end %>

  <div style="display:inline-block;height:auto;width:100%;">

  <% if Proposal.any? %>

    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
      <h2 style="margin:10px 0;">Proposals</h2>
      <h3 style="margin-top:0"><%= link_to "View All Proposals", proposals_path, :style => 'margin-top:0px;' %></h3>
      <p style="margin:0px;">Newest Proposal: <%= link_to Proposal.last.name, proposal_path(Proposal.last) %></p>
      <p style="margin:0px;">Number of proposals submitted today: <%= Proposal.created_today.count %> </p>
      <p style="margin:0px;">Total number of proposals: <%= Proposal.all.count %></p>
    </div>

  <% end %>

  <% if User.any? %>
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
      <h2 style="margin:10px 0;">Users</h2>
      <h3 style="margin-top:0"><%= link_to "View All Users", users_path, :style => 'margin-top:0px;' %></h3>

        <p style="margin:0px;">Newest User: <%= link_to User.last.name, user_path(User.last) %></p>
        <p style="margin:0px;">Number of users that joined the site today: <%= User.created_today.count %> </p>
        <p style="margin:0px;">Total number of users: <%= User.all.count %></p>


    </div>
  </div></p>
  <% end %>

  <% if Ranking.any? %>
  <p><div style="display:inline-block;height:auto;width:100%">
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;">
    <h2 style="margin:10px 0;">Votes</h2>
      <p style="margin:0px;">Number of votes today: <%= Ranking.created_today.count %></p>
      <p style="margin:0px;">Total number of votes: <%= Ranking.all.count %> </p>
    </div>
  <% end %>

  <% if Comment.any? %>
    <div style="width:500px;height:180px;margin:5px 10px 5px 10px;float:left;background:white;border-radius:5px;padding:10px;overflow:scroll">
    <h2 style="margin:10px 0;">Comments</h2>
      <p style="margin:0px;">Most recent comment: <%= Comment.last.content %> - <%= link_to Comment.last.user.name, user_path(Comment.last.user)%>
      <p style="margin:0px;">Number of comments posted today: <%= Comment.created_today.count %></p>
      <p style="margin:0px;">Total number of comments: <%= Ranking.all.count %> </p>
    </div>
  </div></p>
  <% end %>
