<style>
  body {
    background-image: url(<%= Proposal.find(rand(1..Proposal.count)).image_url %>);
    background-size: cover;
  }

  span {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 10px;
    height: 365px;
    margin: 150px 42%;
  }

</style>

<% if current_user %>
  <% @user = current_user %>
<% else %>
  <% @user = User.last %>
<% end %>

<span>
  <h1 style="font-size:60;">Edit Profile</h1>
  <hr>
  <%= form_for(@user) do |f| %>
  <p>Name</p>
  <%= f.text_field :name %></p>
  <p>Affiliation</p>
  <%= f.text_field :affiliation %></p>
  <p>Borough</p>
  <%= f.text_field :borough %></p>
  <p>Zip Code</p>
  <%= f.number_field :zip_code %></p>
  <p>Profile Picture (optional)</p>
  <%= f.text_field :image_url %></p>
  <%= f.submit %>
  <% end %>
</span>
