<% if current_user %>
  <% @user = current_user %>
<% else %>
  <% @user = User.last %>
<% end %>

<div id="editUserDetails">
  <h1 style="font-size:60;">Edit Profile</h1>
  <hr>
  <%= form_for(@user) do |f| %>
  <h2>Name</h2>
  <%= f.text_field :name %>
  <h2>Affiliation</h2>
  <%= f.text_field :affiliation %>
  <h2>Borough</h2>
  <%= f.text_field :borough %>
  <h2>Zip Code</h2>
  <%= f.number_field :zip_code %>
  <h2>Profile Picture (optional)</h2>
  <%= f.text_field :image_url %>
  <%= f.submit %>
  <% end %>
</div>
