<% if current_user %>

  <div style="display:inline-block;width:50%;">
  <% @user = current_user %>
  <% if @user.image_url && !@user.image_url.empty? %>
    <img src="<%=@user.image_url%>" style="width: 100%; height: auto; float: left;margin-top:20px;margin-left:16px;">
  <% end %>
  </div>

  <div id="userDetails">

    <h1><%= @user.name %></h1>
    <h3 id="userOptions"><a href="#" onclick="editProfileTemplate(); return false;">Edit Profile</a></h3>
    <% if logged_in? && current_user.admin %>
      <h3 id="userOptions"><%= link_to "Delete Profile", user_path(@user), data: {:confirm => 'Are you sure?'}, method: "delete"%></h3>
    <% end %>
    <% if logged_in? && current_user.admin %>
      <h3 id="userOptions"><%= link_to "#{@user.name}'s Comments", user_comments_path(@user)%></h3>
    <% else %>
      <h3  id="userOptions"><%= link_to "My Comments", user_comments_path(@user)%></h3>
    <% end %>
    <% if @user.proposal %>
      <h3><a href="#" onclick="documentReadyCalls(<%= @user.proposal.id %>); return false;">My Proposal</a></h3>
    <% end %>

    <h3>Affiliation: <%= @user.affiliation %></h3>
    <h3>Borough: <%= @user.borough %></h3>
    <h3>Zip Code: <%= @user.zip_code %></h3>

    <hr>
      <h2>Favorite proposals</h2>
        <% @user.rankings.highest_ranking.limit(3).each do |ranking| %>
          <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
          <h3><%= link_to @proposal.name, proposal_path(@proposal) %></h3>
        <% end %>

  <hr>
  <h1>Recent Activity:</h1>
  <hr>
    <h2>Recent Comments:</h2>
      <hr>
      <% @user.comments.newest_first.limit(3).each do |comment| %>
        <% @proposal = Proposal.find_by(id: comment.proposal_id) %>
        <em><%= comment.content %></em> - comment on <%= link_to @proposal.user.name, user_path(@proposal.user) %>'s proposal, <%= link_to @proposal.name, proposal_path(@proposal) %>
        <hr>
      <% end %>
      <h2>Recent votes:</h2>
      <hr>
        <% @user.rankings.newest_first.limit(3).each do |ranking| %>
          <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
          <p>You gave <%= link_to @proposal.name, proposal_path(@proposal) %> a score of <%= ranking.ranking %></p>
          <hr>
        <% end %>
  </div>

<% end %>
