<% if current_user %>

<style>
  body {
    background-image: url("https://timedotcom.files.wordpress.com/2015/12/znh.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<% end %>

<% if current_user %>
  <% @user = current_user %>

  <div id="userDetails">

    <h1 style="font-size:50px;margin-bottom:0px"><%= @user.name %></h1>
    <hr style="border:0;">

    <div class="userNav">
      <ul>
        <li><a class="detailsButton" href="#" onclick="editProfileTemplate();hideTopNav();return false;">Edit Profile</a></li>
        <% if current_user.proposal %>
        <li><a class="detailsButton" href="#" onclick="documentReadyCalls(<%= @user.proposal.id %>);hideTopNav();animateShrinkage();return false;">View Proposal</a></li>
        <li><a class="detailsButton" href="#" onclick="editProposalTemplate();hideTopNav();animateShrinkage();return false;">Edit Proposal</a></li>
        <% else %>
        <li><a class="detailsButton" href="#" onclick="newProposalTemplate();animateShrinkage();hideTopNav();return false;">Submit a Proposal</a></li>
      <% end %>
      </ul>
    </div>

    <div id="basicDetails">
      <h3>Affiliation: <%= @user.affiliation %></h3>
      <h3>Borough: <%= @user.borough %></h3>
      <h3>Zip Code: <%= @user.zip_code %></h3>
    </div>

    <div class="userNav">
      <ul>
        <li><a class="detailsButton" id="favProps" href="#" onclick="showFavoriteProposals(); return false;">Favorite Proposals</a></li>
        <li><a class="detailsButton" id="recComs" href="#" onclick="showRecentComments(); return false">Recent Comments</a></li>
        <li><a class="detailsButton" id="recVotes" href="#" onclick="showRecentVotes(); return false">Recent Votes</a></li>
      </ul>
    </div>


        <div id="favoriteProposals" style="display:none;">
          <% @user.rankings.highest_ranking.limit(3).each do |ranking| %>
            <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
            <h3><a href="#" onclick="documentReadyCalls(<%= @proposal.id %>); animateShrinkage();return false"><%= @proposal.name %></a></h3>
          <% end %>
        </div>

        <div id="recentComments" style="display: none">
          <% @user.comments.newest_first.limit(3).each do |comment| %>
            <% @proposal = Proposal.find_by(id: comment.proposal_id) %>

            <h3>
            <%= comment.content %> - comment on <a href="#" onclick="getOtherUserProfile(<%= @proposal.user.id %>); return false;">
            <%= @proposal.user.name %></a>'s proposal, <a href="#" onclick="documentReadyCalls(<%= @proposal.id %>); animateShrinkage();return false">
            <%= @proposal.name %></a>
            </h3>
            <hr>
          <% end %>
        </div>

        <div id="recentVotes" style="display:none;">
          <% @user.rankings.newest_first.limit(3).each do |ranking| %>
            <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
            <h3>
            You gave <a href="#" onclick="documentReadyCalls(<%= @proposal.id %>); animateShrinkage();return false"><%= @proposal.name %></a>
            a score of <%= ranking.ranking %>
            </h3>
        <% end %>
        </div>

  </div>

<% end %>
