<style>
  h3 {
    margin-top: 0px;
  }
  h3 a {
    text-decoration: underline;
  }
</style>
<div style="width:35%">
<% if @user.image_url && !@user.image_url.empty? %>
  <img src="<%=@user.image_url%>" style="width: 100%; height: auto; float: left; margin: 0 50px;">
<% end %>
</div>
<div style="display:block;width: 54%;margin-right: 50px;float:right;">
<h1 style="margin-top:10px;"><%= @user.name %></h1>
<h3><%= link_to "Edit Profile", edit_user_path(@user), {:style => 'float:left; margin-right:10px;'} %></h3>
<% if logged_in? && current_user.admin %>
  <h3><%= link_to "Delete Profile", user_path(@user), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'float:left; margin-right:10px;'%></h3>
<% end %>
<% if logged_in? && current_user.admin %>
  <h3><%= link_to "#{@user.name}'s Comments", user_comments_path(@user), {:style => 'float:left; margin-right:10px;'} %></h3>
<% else %>
  <h3><%= link_to "My Comments", user_comments_path(@user), {:style => 'float:left; margin-right:10px;'} %></h3>
<% end %>
<h3><%= proposal_link %></h3>
<% if proposal_link == "" %>
  <br>
<% end %>


  <h3 style="margin-bottom: 2px;">Affiliation: <%= @user.affiliation %></h3>
  <h3 style="margin-bottom: 2px;">Borough: <%= @user.borough %></h3>
  <h3 style="margin-bottom: 2px;">Zip Code: <%= @user.zip_code %></h3>


<hr>
  <h2>Favorite proposals</h2>
    <% @user.rankings.highest_ranking.limit(3).each do |ranking| %>
      <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
      <h3 style="margin-bottom: 2px;"><%= link_to @proposal.name, proposal_path(@proposal) %></h3>
    <% end %>

<hr>
<h1>Recent Activity:</h1>
<hr>
  <h2>Recent Comments:</h2>
    <hr>
    <% @user.comments.newest_first.limit(3).each do |comment| %>
      <% @proposal = Proposal.find_by(id: comment.proposal_id) %>
      <em><%= comment.content %></em> - comment on <%= link_to @proposal.user.name, user_path(@proposal.user) %>'s proposal, <%= link_to @proposal.name, proposal_path(@proposal) %>
      <hr>
    <% end %>
    <h2>Recent votes:</h2>
    <hr>
      <% @user.rankings.newest_first.limit(3).each do |ranking| %>
        <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
        <p>You gave <%= link_to @proposal.name, proposal_path(@proposal) %> a score of <%= ranking.ranking %></p>
        <hr>
      <% end %>
</div>
