<%= link_to "Edit Profile", edit_user_path(@user), {:style => 'float:left; margin-right:10px;'} %>
<%= link_to "My Comments", user_comments_path(@user), {:style => 'float:left; margin-right:10px;'} %>
<a href="#" style="float:left;margin-right:10px">Favorites</a>
<% if @user.proposal_id %>
<%= link_to "My Proposal", proposal_path(@user.proposal_id) %>
<% else %>
<p><%= link_to "Submit a Proposal", new_proposal_path %></p>
<% end %>

<ul>
  <li>Affiliation: <%= @user.affiliation %></li>
  <li>Borough: <%= @user.borough %></li>
  <li>Zip Code: <%= @user.zip_code %></li>
</ul>

<hr>
  <h3>Favorite proposals</h3>
    <% @user.rankings.highest_ranking.limit(3).each do |ranking| %>
      <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
      <%= link_to @proposal.name, proposal_path(@proposal) %>
    <% end %>

<hr>
  <h3>Recent Activity:</h3>
<hr>
  <h4>Recent Comments:</h4>
    <hr>
    <% @user.comments.newest_first.limit(3).each do |comment| %>
      <% @proposal = Proposal.find_by(id: comment.proposal_id) %>
      <%= link_to @proposal.name, proposal_path(@proposal) %> - <%= comment.content %>
      <hr>
    <% end %>
    <h4>Recent votes:</h4>
      <% @user.rankings.newest_first.limit(3).each do |ranking| %>
        <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
        <p>You gave <%= link_to @proposal.name, proposal_path(@proposal) %> a score of <%= ranking.ranking %></p>
      <% end %>
