<%= link_to "Edit Profile", edit_user_path(@user), {:style => 'float:left; margin-right:10px;'} %>
<%= link_to "My Comments", user_comments_path(@user), {:style => 'float:left; margin-right:10px;'} %>
<p><%= proposal_link %></p>
<% if proposal_link == "" %>
  <br>
<% end %>

<ul>
  <li>Affiliation: <%= @user.affiliation %></li>
  <li>Borough: <%= @user.borough %></li>
  <li>Zip Code: <%= @user.zip_code %></li>
</ul>

<hr>
  <h3>Favorite proposals</h3>
    <% @user.rankings.highest_ranking.limit(3).each do |ranking| %>
      <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
      <%= link_to @proposal.name, proposal_path(@proposal) %>
    <% end %>

<hr>
<h3>Recent Activity:</h3>
<hr>
<div style="width:50%;float:left;">
  <div style="margin:0 10px;">
  <h4>Recent Comments:</h4>
    <hr>
    <% @user.comments.newest_first.limit(3).each do |comment| %>
      <% @proposal = Proposal.find_by(id: comment.proposal_id) %>
      <em><%= comment.content %></em> - comment on <%= link_to @proposal.user.name, user_path(@proposal.user) %>'s proposal, <%= link_to @proposal.name, proposal_path(@proposal) %>
      <hr>
    <% end %>
  </div>
</div>
<div style="width: calc(50% - 1px);float:left;border-left:1px solid black">
  <div style="margin:0 10px;">
    <h4>Recent votes:</h4>
    <hr>
      <% @user.rankings.newest_first.limit(3).each do |ranking| %>
        <% @proposal = Proposal.find_by(id: ranking.proposal_id) %>
        <p>You gave <%= link_to @proposal.name, proposal_path(@proposal) %> a score of <%= ranking.ranking %></p>
        <hr>
      <% end %>
  </div>
</div>
