<style>
  body {
    background-image: url(<%= Proposal.find(rand(1..Proposal.count)).image_url %>);
    background-size: cover;
    height: auto;
  }

  span {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 15px;
    height: 250px;
    width: 215px;
    margin: 0 42%;
    border: 1px solid black;
  }

</style>

<span>
<h1 style="font-size:60px;margin-bottom:60px;">Sign Up</h1>
<%= form_for(@user) do |f| %>
<p>E-mail</p>
<% if flash[:email_warning] %>
  <span style="color:red"><%= flash[:email_warning] %></span><br>
<% end %>
<%= f.text_field :email %></p>
<p>Password </p>
<%= f.password_field :password %></p>
<% if new_user_warning %>
<span style="color:red"><%= new_user_warning %></span><br>
<% end %>
<%= f.submit %>
<% end %>

<p>Or <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %></p>
</span>
