<%= form_for(@user) do |f| %>
<p>E-mail<br />
<% if flash[:email_warning] %>
  <span style="color:red"><%= flash[:email_warning] %></span><br>
<% end %>
<%= f.text_field :affiliation %></p>
<p>Password <br />
<%= f.password_field :password %></p>
<% if new_user_warning %>
<span style="color:red"><%= new_user_warning %></span><br>
<% end %>
<%= f.submit %>
<% end %>
