<h1><%= @user.name %>'s Profile Page</h1>

<% if current_user.admin %>
  <h2>Stats</h2>
    <ul>
      <li style="color:red">Display 3 most recent proposals</li>
      <li style="color:red"><%= User.created_today.count %> users have joined the site today</li>
      <li style="color:red">Total number of users: <%= User.all.count %></li>
      <li style="color:red">X number of votes today </li>
      <li style="color:red">Total number of votes: <%= Ranking.all.count %> </li>
      <li style="color:red">X number of proposals have been added today.</li>
      <li style="color:red">X number of proposals have been added this week.</li>
      <li style="color:red">Total number of proposals</li>
    </ul>
    <% binding.pry %>

  <%= link_to "All Users", users_path %>
  <%= link_to "All Proposals", proposals_path %>


<% else %>
  <% if current_user == @user && current_user.proposal_id %>
  <%= link_to "My Proposal", proposal_path(current_user.proposal_id) %>
  <% else %>
  <p><%= link_to "Submit a Proposal", new_proposal_path %></p>
  <% end %>
<% end %>
