<% if @user.image_url %>
  <img src="<%=@user.image_url%>" style="max-width: 20%; height: auto; float: left; margin-right: 10px;">
<% end %>

<h1><%= @user.name %>'s Profile Page</h1>

<% if current_user.admin %>

  <%= render partial: "admin_show" %>

<% else %>

  <ul>
    <li>Affiliation: <%= @user.affiliation %></li>
    <li>Borough: <%= @user.borough %></li>
    <li>Zip Code: <%= @user.zip_code %></li>
  </ul>

  <hr>
    <p>Recent comments:</p>
  <hr>
    <p>Favorite Proposals:</p>
  <hr>
    <p>Proposals I've recently voted on:</p>


  <%= link_to "All Comments", user_comments_path(@user) %>
  <% if @user.proposal_id %>
  <%= link_to "My Proposal", proposal_path(current_user.proposal_id) %>
  <% else %>
  <p><%= link_to "Submit a Proposal", new_proposal_path %></p>
  <% end %>
<% end %>
