<h1><%= @user.name %>'s Profile Page</h1>

<% if current_user.admin %>

  <%= render partial: "admin_show" %>

<% else %>

   <ul>
     <li>Affiliation: <%= @user.affiliation %></li>
     <li>Borough: <%= @user.borough %></li>
     <li>Zip Code: <%= @user.zip_code %></li>
   </ul>

  <% if @user.proposal_id %>
  <%= link_to "My Proposal", proposal_path(current_user.proposal_id) %>
  <% else %>
  <p><%= link_to "Submit a Proposal", new_proposal_path %></p>
  <% end %>
<% end %>
