<%= form_for(@proposal) do |f| %>
<p>Name<br />
  <% if flash[:name_warning] %>
    <span style="color:red;">
      <%= flash[:name_warning] %>
    </span><br/>
  <% end %>
<%= f.text_field :name %></p>
<p>Brief Description (75 characters or less)<br />
  <% if flash[:description_warning] %>
    <span style="color:red;">
      <%= flash[:description_warning] %>
    </span><br />
  <% end %>
<%= f.text_area :description, cols:50 %></p>
<p>Why should she be considered?<br />
  <% if flash[:pitch_warning] %>
    <span style="color:red;">
      <%= flash[:pitch_warning] %>
    </span><br />
  <% end %>
<%= f.text_area :pitch, cols:50, rows:10 %></p>
<p>Historical Image<br />
<%= f.text_area :image_url, cols:50 %></p>
<%= f.submit "Submit Proposal" %>
<% end %>
