<% if current_user.proposal_id == @proposal.id || current_user.admin %>
  <h3><%= link_to "Edit this proposal", edit_proposal_path(@proposal) %></h3>
<% end %>

<% if current_user.admin %>
  <h3><%= link_to "Delete", proposal_path(@proposal), data: {:confirm => 'Are you sure?'}, method: "delete" %></h3>

<% elsif current_user.id != @proposal.user_id  %>

<div>
  <div>
    <h1>Rank this proposal</h1>
    <% if flash[:ranking_warning] %>
      <p><%= flash[:ranking_warning] %>
    <% end %>
    <%= form_for(:ranking, url: rankings_path) do |f| %>
      <%= f.number_field :ranking %>
      <%= f.hidden_field :proposal, :value => @proposal.id %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>
  <div>
  <h1>Submit a Comment</h1>
  <% if flash[:comment_warning] %>
    <p><%= flash[:comment_warning] %>
  <% end %>
  <%= form_for(:comment, url: comments_path) do |f| %>
      <%= f.text_field :content %>
      <%= f.hidden_field :proposal, :value => @proposal.id %>
      <%= f.submit "Submit" %>
    <% end %>
  <% end %>
  </div>
</div>
