<script type="text/javascript" charset="utf-8">

navId = null
currentUser = null
usersArray = []

$(function () {
  profileOrHomeTemplate();
  $(".main").on("click", function(e) {
      if (!$(e.target).is("button")) {
      hideTopNav();
    }
  });
});

// welcome page functions

function profileOrHomeTemplate() {
  currentUser = `<%= current_user.id if current_user %>`
  if (currentUser === ``) {
    homeTemplate();
  } else {
    currentUserProfileTemplate();
  }
}

function currentUserProfileTemplate() {
  hideSideNav();
  $.get(`/users/${currentUser}.json`, function(data) {
    if (data.admin) {
      $(".main").empty();
      $(".main").append('<%= j render '/users/admin_show' %>');
    } else {
      $(".main").empty();
      $(".main").append('<%= j render '/users/non_admin_show' %>');
      $(window).scrollTop(0);
      enlargeLoggedInIcon();
      shrinkLoggedInIcon();
      hideTopNav();
    }
  });
}

// edit profile functions

function editProfileTemplate() {
  hideSideNav();
  hideCurrentUserProfileTemplate()
  $.get(`/users/${parseInt(currentUser)}.json`, function(data) {
    $(".main").append(`
      <div id="editUserDetails">
        <h1 style="font-size:60;">Edit Profile</h1>
        <hr>
        <form class="edit_user" id="edit_user_${data.id}" action="/users" accept-charset="UTF-8" method="post">
          <h2>Name</h2>
          <input type="text" value="${data.name}" name="user[name]" id="user_name">
          <h2>Affiliation</h2>
          <input type="text" value="${data.affiliation}" name="user[affiliation]" id="user_affiliation">
          <h2>Borough</h2>
          <input type="text" value="${data.borough}" name="user[borough]" id="user_borough">
          <h2>Zip Code</h2>
          <input type="number" value="${data.zip_code}" name="user[zip_code]" id="user_zip_code">
          <h2>Profile Picture (optional)</h2>
          <input type="text" value="${data.image_url}" name="user[image_url]" id="user_image_url">
          <input type="submit" name="commit" value="Update User" data-disable-with="Update User">
        </form>
      </div>
    `);
    $("#editUserDetails").animate({"left": "31.5%"}, 10, function() {});
    updateUser();
  })
}

function updateUser() {
  $(".edit_user").on("submit", function(e){
    e.preventDefault();
    debugger
      var values = $(this).serialize();
      let posting = $.ajax({
        type: "PUT",
        url: `/users/${currentUser}`,
        data: values
      });
  });
}


// proposal functions

function editProposalTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append(`<%= j render '/proposals/edit' %>`);
  editProposal()
  hideSideNav();
  $("#editProposalDetails").animate({"right": "-33%"}, 10, function() {});
}

function loginDropDown() {
  $("#login").append('<%= j render "/sessions/login" %>');
  $("#login").css({
    "position":"relative",
    "top":"-20px"
  })
  $("#loginForm input").css({
    "height":"43px",
    "background-color": "rgba(255,255,255,0)",
    "border":"1px solid #3bb9ff",
    "border-radius":"5px",
    "font-size":"25px"
  });
  $("#loginForm input[type='submit']").css({
    "height":"40px",
    "border": "1px solid orange",
    "color":"white",
    "cursor":"pointer"
  });
  $("#loginForm a").css({
    "position": "relative",
    "left":"100px",
    "color":"white",
    "text-decoration":"none"
  })
  $("[type='submit']").removeAttr("data-disable-with");
}

</script>
