<script type="text/javascript" charset="utf-8">

navId = null
currentUser = null
usersArray = []

$(function () {
  profileOrHomeTemplate();
  $(".main").on("click", function(e) {
      if (!$(e.target).is("button")) {
      hideTopNav();
    }
  });
});

// welcome page functions

function profileOrHomeTemplate() {
  currentUser = `<%= current_user.id if current_user %>`
  if (currentUser === ``) {
    homeTemplate();
  } else {
    currentUserProfileTemplate();
  }
}

// user profile functions

function userIndexTemplate() {
  $(".main").empty();
  $.get(`/users.json`, function(data) {
    if (data[0].id === parseInt(currentUser)) {
      $(".main").append(`
        <div style="margin:20px 50px">
          <h1 style="font-size:60px;margin-bottom:10px;">Users Index - For Admin Only</h1>
          <hr style="border-top:1px solid black;">
          <ul>
      `);
      data.forEach(function(user) {
        $(".main").append(`
          <div style="height:150px;margin-top:20px;margin-left:100px;">
            <img src="${user.image_url}" style="float:left;height:90%;margin-right:20px;">
            <h1><a href="#" onclick="getOtherUserProfile(${user.id}); return false;">${user.name}</a></h1>
            <h3>Joined ${user.created_at}</h3>
          </div>
            <hr style="border-top:1px solid black;margin-left:100px;">
          `)
      })
      $(".main").append(`
      </ul>
      </div>
      `);
    }
  });
}

function currentUserProfileTemplate() {
  hideSideNav();
  $.get(`/users/${currentUser}.json`, function(data) {
    if (data.admin) {
      $(".main").empty();
      $(".main").append('<%= j render '/users/admin_show' %>');
    } else {
      $(".main").empty();
      $(".main").append('<%= j render '/users/non_admin_show' %>');
      $(window).scrollTop(0);
      enlargeLoggedInIcon();
      shrinkLoggedInIcon();
      hideTopNav();
    }
  });
}

// edit profile functions

function editProfileTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append('<%= j render '/users/edit' %>');
  hideSideNav();
  $("#editUserDetails").animate({"left": "31.5%"}, 10, function() {});
}

// proposal functions

function editProposalTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append(`<%= j render '/proposals/edit' %>`);
  editProposal()
  hideSideNav();
  $("#editProposalDetails").animate({"right": "-33%"}, 10, function() {});
}

function loginDropDown() {
  $("#login").append('<%= j render "/sessions/login" %>');
  $("#login").css({
    "position":"relative",
    "top":"-20px"
  })
  $("#loginForm input").css({
    "height":"43px",
    "background-color": "rgba(255,255,255,0)",
    "border":"1px solid #3bb9ff",
    "border-radius":"5px",
    "font-size":"25px"
  });
  $("#loginForm input[type='submit']").css({
    "height":"40px",
    "border": "1px solid orange",
    "color":"white",
    "cursor":"pointer"
  });
  $("#loginForm a").css({
    "position": "relative",
    "left":"100px",
    "color":"white",
    "text-decoration":"none"
  })
  $("[type='submit']").removeAttr("data-disable-with");
}

</script>
