<script type="text/javascript" charset="utf-8">

navId = null
currentUser = null

$(function () {
  profileOrHomeTemplate();
  $(".main").on("click", function() {
    hideTopNav();
  });
});

function loginTemplate() {
  hideSideNav();
  $("#topNavMenu").replaceWith(`<%= j render 'login' %>`);
  $("[type='submit']").removeAttr("data-disable-with");
}

function signUpTemplate() {
  $(".main").empty();
  hideSideNav();
  $(".main").append(`<div id="formWrapper"></div>`)
  $("#formWrapper").append(`<div id="userForm"></div>`)
  $("#userForm").append(`<h1>Sign Up</h1>`)
  $("#userForm").append(`<hr>`)
  $("#userForm").append(`<form class="new_user" id="new_user" action="post"></form>`);
  $(".new_user").append(`<h2>Email</h2>`)
  $(".new_user").append(`<p><input type="text" name="user[email]" id="user_email"></p>`)
  $(".new_user").append(`<h2>Password</h2>`)
  $(".new_user").append(`<p><input type="password" name="user[password]" id="user_password"></p>`)
  $(".new_user").append(`<p><input type="submit" name="commit" value="Create User" data-disable-with="Create User"></p>`)
  $(".new_user").append(`<h2><%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %></h2>`)
  postNewUser();
}

function postNewUser() {
  $(".new_user").on("submit", async function(e){
    e.preventDefault();
    var values = $(this).serialize();
    let posting = await $.ajax({
      type: "POST",
      url: '/users/',
      data: values
    });
    let users = await $.get(`/users.json`, function(data) {
    });
    if (users.pop) {
      newUser = users.pop()
      currentUser = newUser.id
      editProfileTemplate();
    } else {
      alert("Let's try that again.")
      $('[type="submit"]').removeAttr("disabled");
    }
  });
}

// welcome page functions

function profileOrHomeTemplate() {
  currentUser = `<%= current_user.id if current_user %>`
  if (currentUser === ``) {
    $(".main").empty();
    $(".main").append(`<%= j render '/sessions/welcome' %>`);
    topThreeProposalDisplay();
  } else {
    currentUserProfileTemplate();
  }
}

function homeTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/sessions/welcome' %>');
  hideSideNav();
  topThreeProposalDisplay();
}

function topThreeProposalDisplay() {
  $(".topThreeImages div").hover(
    function() {
      $(this).css({
        "transition": "0.5s",
        "opacity": "0.2",
        "border": "1px solid black"
      });
    },
    function() {
      $(this).css({
        "opacity": "1",
        "border": "0"
      })
    });
}

// user profile functions

function userIndexTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/users/index' if current_user && current_user.admin %>');
}

function currentUserProfileTemplate() {
  hideSideNav();
  $.get(`/users/${currentUser}.json`, function(data) {
    if (data.admin) {
      $(".main").empty();
      $(".main").append('<%= j render '/users/admin_show' %>');
    } else {
      $(".main").empty();
      $(".main").append('<%= j render '/users/non_admin_show' %>');
      enlargeLoggedInIcon();
      shrinkLoggedInIcon();
    }
  });
}

function enlargeLoggedInIcon() {
  $("#loggedInIcon").animate({
    "width":"280px",
    "height":"280px",
    "border-bottom-right-radius":"25px",
    "border-bottom-left-radius":"25px",
    "border-top-right-radius":"0",
    "border-top-left-radius":"0",
    "top":"50px",
    "right":"10.5%"},
    1000)
  $("#userDetails h1").animate({"margin-top":"290px"},1000,function(){})
}

function shrinkLoggedInIcon() {
  $("a").on("click", function() {
    animateShrinkage();
  })
}

function animateShrinkage() {
  $("#loggedInIcon").animate({
    "top":"0",
    "height":"40px",
    "width":"40px",
    "float":"right",
    "margin-top":"10px",
    "margin-right":"-40px",
    "overflow": "hidden",
    "border-radius":"50%"
  },400,function(){});
  $("#userDetails h1").animate({"margin-top":"0px"},1000,function(){})
}

// displays/hides current user details on profile card

function showFavoriteProposals() {
  hideRecentComments();
  hideRecentVotes();
  $("#favoriteProposals").css("display", "block");
  $("#favProps").replaceWith(`<a class="detailsButton" id="favProps" href="#" onclick="hideFavoriteProposals(); return false;">Hide Proposals</a>`)
}

function hideFavoriteProposals() {
  $("#favoriteProposals").css("display", "none");
  $("#favProps").replaceWith(`<a class="detailsButton" id="favProps" href="#" onclick="showFavoriteProposals(); return false;">Favorite proposals</a>`)
}

function showRecentComments() {
  hideFavoriteProposals();
  hideRecentVotes();
  $("#recentComments").css("display", "block");
  $("#recComs").replaceWith(`<a class="detailsButton" id="recComs" href="#" onclick="hideRecentComments(); return false;">Hide Comments</a>`)
}

function hideRecentComments() {
  $("#recentComments").css("display", "none");
  $("#recComs").replaceWith(`<a class="detailsButton" id="recComs" href="#" onclick="showRecentComments(); return false;">Recent Comments</a>`)
}

function showRecentVotes() {
  hideRecentComments();
  hideFavoriteProposals();
  $("#recentVotes").css("display", "block");
  $("#recVotes").replaceWith(`<a class="detailsButton" id="recVotes" href="#" onclick="hideRecentVotes(); return false;">Hide Votes</a>`)
}

function hideRecentVotes() {
  $("#recentVotes").css("display", "none");
  $("#recVotes").replaceWith(`<a class="detailsButton" id="recVotes" href="#" onclick="showRecentVotes(); return false;">Recent Votes</a>`)
}

// submits get request for non-currentUser user profiles
function getOtherUserProfile(otherUserId) {
  $.get(`/users/${otherUserId}.json`, function(data) {
      otherUserProfileTemplate(data);
  })
}

function otherUserProfileTemplate(data) {
  hideSideNav();
  $(".main").empty();
  $(".main").append(`<div id="formWrapper"></div>`);
  $("#formWrapper").append(`<div id="otherUserDetails"></div>`);
  $("#otherUserDetails").append(`<img src="${data.image_url}">`);
  $("#otherUserDetails").append(`<hr>`);
  $("#otherUserDetails").append(`<h1>${data.name}</h1>`);
  $("#otherUserDetails").append(`<hr>`);
  $("#otherUserDetails").append(`<h3>Affiliation: ${data.affiliation} </h3>`);
  $("#otherUserDetails").append(`<h3>Borough: ${data.borough} </h3>`);

  if (`${data.proposal}`) {
    $("#otherUserDetails").append(`<a href="#" onclick="documentReadyCalls(${data.proposal.id}); return false;">
    View ${data.name}'s Proposal</a>`);
  };
}

// edit profile functions

function editProfileTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append('<%= j render '/users/edit' %>');
  hideSideNav();
  $("#editUserDetails").animate({"left": "31.5%"}, 10, function() {});
}

function hideCurrentUserProfileTemplate() {
  $("#userDetails").animate({"right": "-36%"}, 500, function() {})
}

// proposal functions

function documentReadyCalls(proposalId) {
  navId = proposalId
  proposalTemplate(navId);
  // add next proposal details to DOM
  getProposal(navId);
  // associate ranking and comment forms with the correct proposal
  ProposalFormIds(navId);
  // add proposal comments to the DOM for current proposal
  addRanking();
  // displays ranking and comments forms for current proposal UNLESS it is the current user's proposal
  showProposalForms(navId);
  proposalNavigation();
  postandInsertComment();
  showSideNav();
}

function editProposalTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append(`<%= j render '/proposals/edit' %>`);
  editProposal()
  hideSideNav();
  $("#editProposalDetails").animate({"right": "-33%"}, 10, function() {});
}

function editProposal() {
  $(".edit_proposal").on("submit", function(e) {
    proposalId = this.id.match(/\d+/g)[0]
    var values = $(this).serialize();
    $.post(`/proposals/${proposalId}`, values);
    documentReadyCalls(parseInt(proposalId));
    e.preventDefault();
  });
}


function indexTemplate() {
  $(".main").empty();
  $(".main").append(`<h1 id="proposalIndexHeader">Nominees</h1>`);
  $(".main").append(`<hr style="border-top:1px solid black;">`);
  $(".main").append(`<div id="proposalIndex"></div>`);
  getProposalsForIndex();
  hideSideNav();
}

function getProposalsForIndex() {
  $.get("/proposals.json", function (data) {
    data.forEach(function(proposal) {
      indexProposalTemplate(proposal)
    });
  });
}

function indexProposalTemplate(proposal) {
  $("#proposalIndex").append(`<div id="proposal-${proposal.id}">`);
  $(`#proposal-${proposal.id}`).append(`<img src="${proposal.image_url}">`);
  $(`#proposal-${proposal.id}`).append(`<h1 id="name"><a class="proposalLink" href="#" onclick="documentReadyCalls(${proposal.id}); return false">${proposal.name}</a></h1>`);
  $(`#proposal-${proposal.id}`).append(`<h1 id="description">${proposal.description}</h1>`);
  $(`#proposal-${proposal.id}`).append(`</div>`);
  $(`#proposalIndex`).append(`<hr>`);
}

function getProposal() {
  $.get("/proposals/" + navId + ".json", function(data) {
    proposal = new Proposal();
    proposal.appendData(data);
  });
}

function Proposal() {
  this.appendData = function(data) {
    $(".proposalName").text(data["name"]);
    $(".proposalImage").html(`<img src="${data["image_url"]}">`)
    $(".proposalDescription").text(data["description"]);
    let user = data["user"]["id"]
    $(".proposalUser").html(`<a href="#" onclick="getOtherUserProfile(${user}); return false;">${data["user"]["name"]}</a>`);
    $(".proposalPitch").text(data["pitch"])
    // re-set the id to current on the link
    $(".js-next").attr("data-id", data["id"]);
  }
}

function proposalTemplate() {

  $(".main").empty();

  //div contains all proposal details
  $(".main").append(`<div id="proposalDetails">`)
  $("#proposalDetails").append(`<span class="proposalImage"></span>`);
  $("#proposalDetails").append(`<h1 class="proposalName"></h1>`);
  $("#proposalDetails").append(`<span class="open" onclick="hideSideNav()">X</span>`);
  $("#proposalDetails").append(`<h3 class="proposalDescription"></h3>`);
  $("#proposalDetails").append(`<hr>`);
  $("#proposalDetails").append(`<p>Submitted by: <span class="proposalUser"></span></p>`);
  $("#proposalDetails").append(`<h1>Why This Proposal Should Be Accepted</h1>`)
  $("#proposalDetails").append(`<p class="proposalPitch"></p>`);
  $(".proposalDetails").append(`</div>`)

  // div contains site navigation buttons
  // $(".main").append(`<div id="proposalNavigation">`)
  // $("#proposalNavigation").append(`<button class="js-previous" data-id="${navId}">Previous Proposal</button>`);
  //  $("#proposalNavigation").append(`<button class="js-next" data-id="${navId}">Next Proposal</button>`);
  // $(".proposalNavigation").append(`</div>`);

  // div adds ranking and comment forms
  // $(".main").append('<%= j render 'logged_in_show' if current_user %>');
  $(".main").append(`<div id="proposalForms"></div>`);

  if (currentUser != "") {
    $("#proposalForms").append(`<div id="rankingForm"></div>`);
    $("#rankingForm").append(`<a href="#" onclick="showOrHideRankingForm(); return false"><h1>Rank this proposal</h1></a>`);
    $("#proposalForms").append(`<div id="loggedInProposalComments"></div>`);
    $("#loggedInProposalComments").append(`<h1><a href="#" onclick="getRecentComments(${navId}); return false">View Comments</a></h1></div>`)
    $("#proposalForms").append(`<div id="commentForm"></div>`);
    $("#commentForm").append(`<a href="#" onclick="showOrHideCommentForm(); return false"><h1>Submit a Comment</h1></a>`)
  }

  // BROKEN - NEED TO REWORK

  // else {
  // // div for comments
  //   $(".main").append(`<hr>`)
  //   $(".main").append(`<div id="proposalComments">`);
  //   $("#proposalComments").append(`<h1><a href="#" onclick="getRecentComments(${navId}); return false">View Comments</a></h1>`);
  //   $("#proposalComments").append(`<div id="comments"></div>`);
  //   $(".main").append(`</div>`);
  // }
}

function proposalNavigation(){
  $(".js-next").on("click", function() {
    // set id for next proposal
    navId = (parseInt($(".js-next").attr("data-id")) + 1).toString();
    $.get(`/proposals/${navId}.json`, function(data) {
      if (data != null) {
        documentReadyCalls(navId);
      }
    });
  });
  $(".js-previous").on("click", function() {
    // set id for previous proposal
    navId = (parseInt($(".js-next").attr("data-id")) - 1).toString();
    if (navId != "0") {
      documentReadyCalls(navId);
    }
  });
}

function ProposalFormIds() {
  if($("#comment_proposal")[0] && $("#ranking_proposal")[0]) {
    $("#comment_proposal")[0]["value"] = navId;
    $("#ranking_proposal")[0]["value"] = navId;
  };
}

function showProposalForms() {
  $.get(`/proposals/${navId}.json`, function(data) {
      if (data["user"]["id"].toString() != currentUser) {
        $("#proposalForms").show();
        $("proposalNavigation").next().show()
      } else {
        $("#proposalForms").hide();
      }
  });
}

function newProposalTemplate() {
  $('.main').empty();
  hideSideNav();
  hideTopNav();
  $(".main").append(`<div id="formWrapper"></div>`)
  $('#formWrapper').append(`<form class="new_proposal" id="new_proposal" action="/proposals" accept-charset="UTF-8" method="post">`);
  $('.new_proposal').append(`<p>Name<br>`);
  $('.new_proposal').append(`<input type="text" name="proposal[name]" id="proposal_name"></p>`);
  $('.new_proposal').append(`<p>Brief Description (75 characters or less)<br>`);
  $('.new_proposal').append(`<textarea cols="50" name="proposal[description]" id="proposal_description"></textarea></p>`);
  $('.new_proposal').append(`<p>Why should she be considered?<br>`);
  $('.new_proposal').append(`<textarea cols="50" rows="10" name="proposal[pitch]" id="proposal_pitch"></textarea></p>`);
  $('.new_proposal').append(`<p>Historical Image<br>`);
  $('.new_proposal').append(`<textarea cols="50" name="proposal[image_url]" id="proposal_image_url"></textarea></p>`);
  $('.new_proposal').append(`<input type="submit" name="commit" value="Create Proposal" data-disable-with="Create Proposal">`);
  $('.new_proposal').append(`</form>`);
  postNewProposal();
}


function postNewProposal() {
  $(".new_proposal").on("submit", async function(e){
    e.preventDefault();
    var values = $(this).serialize();
    let posting = await $.ajax({
      type: "POST",
      url: '/proposals/',
      data: values
    });
    let proposals = await $.get(`/proposals.json`, function(data) {
    });
    newProposal = proposals.pop()
    updateSideNav(newProposal.id, newProposal.name)
    updateTopNav()
    documentReadyCalls(newProposal.id)
  });
}

function updateTopNav() {
  $("#submitProposalLink").replaceWith(`<a href="#" onclick="editProposalTemplate(); return false;">Edit Proposal</a>`);
}

function updateSideNav(newProposalId, newProposalName) {
  $(".sidenav").append(`<h3><a class="proposalLink"><a href="#" onclick="documentReadyCalls(${newProposalId}); return false">${newProposalName}</a></h3>`);
}

// comment functions

function getRecentComments() {
  $(".main").empty()
  $.get(`/proposals/${navId}/comments.json`, function(data) {
    if (data.length > 3) {
      $("#comments_viewer").replaceWith(`<p><a id="comments_viewer" href="#" onclick="getAllComments(${navId}); return false;">View All Comments</a></p>`);
      let comments = data.length;
      let recentComments = (data.slice(data.length - 3, data.length));
      recentComments.forEach(function(comment) {
        commentTemplate(comment);
      });
      $(".main").prepend(`<hr>`)
      $(".main").prepend(`<span><a href="#" onclick="getAllComments(); return false;">View All Comments</a></span>`)
      $(".main").prepend(`<h1>Recent Comments</h1>`)
      $(".main").prepend(`<span class="backToProposal"><a href="#" onclick="documentReadyCalls(navId); return false;">Back to Proposal</a></span>`)
      $(".main").prepend(`<span class="open" onclick="hideSideNav()">X</span>`);
      showSideNav();
    }else {
      getAllComments();
    }
  });
}

function getAllComments() {
  $(".main").empty()
  $.get(`/proposals/${navId}/comments.json`, function(data) {
    data.forEach(function(comment) {
      commentTemplate(comment)
    });
    $(".main").prepend(`<hr>`)
    $(".main").prepend(`<span><a href="#" onclick="getRecentComments(); return false;">View Recent Comments</a></span>`)
    $(".main").prepend(`<h1>Comments</h1>`)
    $(".main").prepend(`<span class="backToProposal"><a href="#" onclick="documentReadyCalls(); return false;">Back to Proposal</a></span>`)
    $(".main").prepend(`<span class="open" onclick="hideSideNav()">X</span>`);
    showSideNav();
    if (data.length > 3) {
      $("#comments_viewer").replaceWith(`<p><a id="comments_viewer" href="#" onclick="getRecentComments(${navId}); return false;">View Most Recent Comments</a></p>`)
    }
  });
}

function postandInsertComment() {
  $('#new_comment').on("submit", async function(e) {
    e.preventDefault();
    if (this[2]["value"] != "") {
      var values = $(this).serialize();
      let posting = await $.post('/comments', values);
      let comments = await $.get(`/proposals/${navId}/comments.json`, function(data) {
      });
      let newComment = comments.pop();
      getRecentComments(`${navId}`);
      hideCommentForm();
      $("input[type='submit']").removeAttr('disabled');
    } else {
      alert("Comments need content")
    }
  });
}

function commentTemplate(comment) {
  let replyCount = comment["replies"].length
  $(".main").prepend(`<div id="comment-${comment["id"]}">`)
  $(`#comment-${comment["id"]}`).append(`<h4><a href="/users/${comment['user']['id']}">${comment["user"]["name"]}</a> - ${comment["created_at"]} </h4>`);
  $(`#comment-${comment["id"]}`).append(`<h4>${comment["content"]}</h4>`);

  // viewable to registered users only
  if (currentUser != "") {
  $(`#comment-${comment["id"]}`).append(`<p id="reply_form_${comment['id']}"><a href="#" onclick="replyForm(${comment['id']});return false;"}">Reply</a></p>`);
  }

  $(`#comment-${comment["id"]}`).append(`<p><a id="replies_viewer_${comment['id']}" href="#" onclick="showCommentReplies(${comment["id"]}, ${replyCount});return false;")>${replyCount} Replies</a></p>`);
  $(`#comment-${comment["id"]}`).append(`</div>`)
  $(`#comment-${comment["id"]}`).append(`<div id="replies_to_comment_${comment['id']}"></div>`)
  $(`#comment-${comment["id"]}`).append(`<hr>`)
  repliesTemplate(comment);
}

// POSSIBLY UNNECESSARY FUNCTION BELOW - may come in handy later?

// function newCommentTemplate(newComment) {
//   $("#comments").prepend(`</div>`)
//   $("#comments").prepend(`<p><a href="/proposals/${navId}/comments/${newComment.id}/replies/new">Reply</a></p>`)
//   $("#comments").prepend(`<h4>${newComment.content}</h4>`)
//   $("#comments").prepend(`<h4><a href="/users/${newComment.user.id}">${newComment.user.name}</a> - ${newComment.created_at} </h4>`);
//   $("#comments").prepend(`<div id="comment-${newComment["id"]}">`)
// }

//reply functions

function repliesTemplate(comment) {
  comment.replies.forEach(function(reply) {
    $(`#replies_to_comment_${comment["id"]}`).append('<hr>')

    $(`#replies_to_comment_${comment["id"]}`).append(`<h4><a href="/users/${reply['user']['id']}">${reply["user"]["name"]}</a> - ${reply["created_at"]} </h4>`);
    $(`#replies_to_comment_${comment["id"]}`).append(`<h4>${reply["content"]}</h4>`);
  });
  $(`#replies_to_comment_${comment["id"]}`).append('<hr>')
  $('[id*="replies_to_comment"]').hide()
}

function postandInsertReply(comment) {
  $('#new_reply').on("submit", async function(e) {
    e.preventDefault();
    var values = $(this).serialize();
    let posting = await $.post('/replies', values);
    let replies = await $.get(`/proposals/${navId}/comments/${comment}.json`)
    let newReply = replies["replies"].pop();
    $('#new_reply').remove();
    updateReplyCount(comment);
    newReplyTemplate(newReply, comment);
  });
}

function updateReplyCount(comment) {
  newReplyCount = parseInt($(`#replies_viewer_${comment}`)[0].text.match(/\d+/)[0]) + 1
  $(`#replies_viewer_${comment}`)[0].text = `${newReplyCount} Replies`
}

function newReplyTemplate(newReply, comment) {
  $(`#replies_to_comment_${comment}`).append(`<h4><a href="/users/${newReply['user']['id']}">${newReply["user"]["name"]}</a> - ${newReply["created_at"]} </h4>`);
  $(`#replies_to_comment_${comment}`).append(`<h4>${newReply["content"]}</h4>`);
  $(`#replies_to_comment_${comment}`).append('<hr>')
}

function replyForm(comment) {
  $(`#reply_form_${comment}`).append(`<%= j render partial: "/replies/form" %>`);
  setReplyFormIds(comment)
  postandInsertReply(comment);
}

function setReplyFormIds(comment) {
  $("#reply_proposal")[0]["value"] = navId;
  $("#reply_comment")[0]["value"] = `${comment}`;
}

function showCommentReplies(commentId, replyCount) {
  $(`#replies_to_comment_${commentId}`).show()
  $(`#replies_viewer_${commentId}`).replaceWith(`<p><a id="replies_viewer_${commentId}" href="#" onclick="hideCommentReplies(${commentId}, ${replyCount});return false;")>Hide Replies</a></p>`);
}

function hideCommentReplies(commentId, replyCount) {
  $(`#replies_to_comment_${commentId}`).hide()
  $(`#replies_viewer_${commentId}`).replaceWith(`<p><a id="replies_viewer_${commentId}" href="#" onclick="showCommentReplies(${commentId}, ${replyCount});return false;")>${replyCount} Replies</a></p>`);
}

//ranking functions

async function checkForUserRanking() {
  let currentProposal = $("#ranking_proposal")[0]["value"]
  let res = await fetch('/rankings.json')
  let foundData = await res.json()
  let ranking = foundData.find(function(ranking) {
     return ranking["user"]["id"].toString() === currentUser && ranking["proposal"]["id"].toString() === currentProposal
   })

   if (ranking) {
     return ranking.user
   } else {
     return "not found"
   }
}

function addRanking() {
  $('#new_ranking').on("submit", function() {
    checkForUserRanking().then(res => {
      if (res === "not found") {
        var values = $(this).serialize();
        var posting = $.post('/rankings', values);
      }
      else {
        alert("You've already voted on this proposal");
      }
    });
  });
}

// nav menu functions

function showSideNav() {
  $("#mySidenav").css("width", "25%");
  $(".main").css({
    width: "70%",
    transition: "1s"
  })
  $(".open").replaceWith(`<span class="open" onclick="hideSideNav()">X</span>`);
}

function hideSideNav() {
  $("#mySidenav").css("width", "0");
  $(".main").css("width", "90%");
  $(".open").replaceWith(`<span class="open" onclick="showSideNav()">Browse Nominees</span>`);
  $(".open").css({
    "position":"fixed",
    "right":"0",
    "transition":"1s"
  })
}

// relic from a failed experiment, may come in handy later

// function showProfileSideNav() {
//   animateShrinkage();
//   $("#mySidenav").css("width", "35%");
//   $(".viewNomineesButton").replaceWith(`<a class="viewNomineesButton" onclick="hideProfileSideNav()">Return to Profile</a>`);
// }
//
// function hideProfileSideNav() {
//   enlargeLoggedInIcon();
//   $("#mySidenav").css("width", "0");
//   $(".viewNomineesButton").replaceWith(`<a class="viewNomineesButton" onclick="showProfileSideNav()">Browse Nominees</a>`);
// }

function showTopNav() {
  $(".topNav").css({
    "border-bottom": "3px solid lightgray",
    "border-bottom-right-radius": "5px"
  });
  $(".topNav").animate({
    "max-height": "100%"
  },500,function(){})
  $("#topNavBurger").replaceWith(`<a id="topNavBurger" href="#" onclick="hideTopNav(); return false;">&#9776;</a></li>`);
}

function hideTopNav() {
  $(".topNav").css("border-bottom", "0");
  $(".topNav").animate({
    "max-height":"0"
  },250,function(){})
  $("#topNavBurger").replaceWith(`<a id="topNavBurger" href="#" onclick="showTopNav(); return false;">&#9776;</a></li>`);
}

// popup form functions //

function showOrHideCommentForm() {
  $("body").on("click", function(e) {
    if ($(e.target).is("#commentForm h1")) {
      $("#commentPopUp").css({
        "height": "200px",
        "border": "1px solid lightgray"
      });
    } else if (!$(e.target).is("#commentPopUp") && !$(e.target).parents().is("#commentPopUp")) {
      $("#commentPopUp").css({
        "height": "0",
        "border": "0"
      });
    };
  });
}

function hideCommentForm() {
  $("#commentPopUp").css("height", "0");
}

function showOrHideRankingForm() {
  $("html").on("click", function(e) {
    if ($(e.target).is("#rankingForm h1")) {
      $("#rankingPopUp").css({
        "height": "200px",
        "border": "1px solid lightgray"
      });
    } else if (!$(e.target).is("#rankingPopUp") && !$(e.target).parents().is("#rankingPopUp")) {
      $("#rankingPopUp").css({
        "height": "0",
        "border": "0"
      });
    };
  });
}

</script>
