<div style="margin:20px 50px">
<h1 style="font-size:60px;margin-bottom:10px;">Nominees</h1>
<hr style="border-top:1px solid black;">
<ul>
  <% @proposals.each do |proposal| %>
  <div style="height:250px;margin-top:20px">
  <% if proposal.image_url && !proposal.image_url.empty? %>
    <img src="<%=proposal.image_url%>" style="float:left;height:90%;margin-right:20px;">
  <% end %>
  <h1 class="proposalLink" id="<%= proposal.id %>"><%= link_to proposal.name, proposal_path(proposal) %><br>
  <%= proposal.description %></h1>

  <% if current_user && current_user.admin %>
    <p style="float:left;">
      <%= link_to "Delete", proposal_path(proposal), data: {:confirm => 'Are you sure?'}, method: "delete", :style => "float:right;margin-right:10px;" %>
      <%= link_to "Edit", edit_proposal_path(proposal), :style => "float:right;margin-right:10px;" %>
    </p>

  <% end %>
  </div>
  <hr>
  <% end %>
</ul>
</div>

<script type="text/javascript" charset="utf-8">
navId = null
currentUser = null

$(function () {
  profileOrHomeTemplate();
});

function documentReadyCalls(proposalId) {
  navId = proposalId
  proposalTemplate(navId);
  // add next proposal details to DOM
  getProposal(navId);
  // associate ranking and comment forms with the correct proposal
  ProposalFormIds(navId);
  // add proposal comments to the DOM for current proposal
  addRanking();
  // displays ranking and comments forms for current proposal UNLESS it is the current user's proposal
  showProposalForms(navId);
  proposalNavigation();
  postandInsertComment();
  showSideNav();
}


// login page functions

function loginTemplate() {
  $(".main").empty();
  hideSideNav();
  $(".main").append('<%= j render 'login' %>');
}

function signUpTemplate() {
  $(".main").empty();
  hideSideNav();
  $(".main").append(`<div id="formWrapper"></div>`)
  $("#formWrapper").append(`<div id="userForm"></div>`)
  $("#userForm").append(`<h1>Sign Up</h1>`)
  $("#userForm").append(`<form class="new_user" id="new_user" action="post"></form>`);
  $(".new_user").append(`<p>Email</p>`)
  $(".new_user").append(`<p><input type="text" name="user[email]" id="user_email"></p>`)
  $(".new_user").append(`<p>Password</p>`)
  $(".new_user").append(`<p><input type="password" name="user[password]" id="user_password"></p>`)
  $(".new_user").append(`<p><input type="submit" name="commit" value="Create User" data-disable-with="Create User"></p>`)
  $(".new_user").append(`<p><%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %></p>`)
  postNewUser();
}

function postNewUser() {
  $(".new_user").on("submit", async function(e){
    e.preventDefault();
    var values = $(this).serialize();
    let posting = await $.ajax({
      type: "POST",
      url: '/users/',
      data: values
    });
    let users = await $.get(`/users.json`, function(data) {
    });
    newUser = users.pop()
    currentUser = newUser.id
    editProfileTemplate();
  });
}

// welcome page functions

function profileOrHomeTemplate() {
  currentUser = `<%= current_user.id if current_user %>`
  if (currentUser === ``) {
    $(".main").empty();
    $(".main").append(`<%= j render '/sessions/welcome' %>`);
    topThreeProposalDisplay();
  } else {
    userProfileTemplate();
  }
}

function homeTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/sessions/welcome' %>');
  hideSideNav();
  topThreeProposalDisplay();
}

function topThreeProposalDisplay() {
  $(".topThreeImages div").hover(
    function() {
      $(this).css({
        "transition": "0.5s",
        "opacity": "0.2",
        "border": "1px solid black"
      });
    },
    function() {
      $(this).css({
        "opacity": "1",
        "border": "0"
      })
    });
}

// function homeTemplate() {
//   $(".main").empty();
//   $(".main").append(`<div id="welcome" style="position:fixed;top:150px;left:30%;width:40%;text-align:justify;">`)
//   $("#welcome").append(`
//     <h3><span style="font-size:75px;margin-right:-2px;color:rgb(175,200,229);">sheBuiltNYC</span>
//     invites New Yorkers to join us in our effort to build new public monuments that honor women’s history
//     in New York City.
//     </h3><h3>
//     This is an open call for nominations. We invite you to submit one nominee, and vote on all of our nominees,
//     from the vast array of inspiring women who have contributed to our city.
//     </h3><h3>
//     Our advisory panel will announce the subject and site of the monument for the winning nominee in January 2019.</h3>
//   `)
//   $("#welcome").append(`</div>`)
// }

// user profile functions

function userProfileTemplate() {
  hideSideNav();
  $.get(`/users/${currentUser}.json`, function(data) {
    if (data.admin) {

      $(".main").empty();
      $(".main").append('<%= j render '/users/admin_show' %>');
    } else {

      $(".main").empty();
      $(".main").append('<%= j render '/users/non_admin_show' %>');
    }
  });
}

// edit profile functions {
function editProfileTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/users/edit' %>');
  hideSideNav();
}

function editProposalTemplate() {
  $(".main").empty();
  $(".main").append(`<%= j render '/proposals/edit' %>`);
  editProposal()
  hideSideNav();
}

function editProposal() {
  $(".edit_proposal").on("submit", function(e) {
    proposalId = this.id.match(/\d+/g)[0]
    var values = $(this).serialize();
    $.post(`/proposals/${proposalId}`, values);
    documentReadyCalls(parseInt(proposalId));
    e.preventDefault();
  });
}

// index functions

function getProposalsForIndex() {
  $.get("/proposals.json", function (data) {
    data.forEach(function(proposal) {
      indexProposalTemplate(proposal)
    });
  });
}

function indexProposalTemplate(proposal) {
  $("#proposalIndex").append(`<div id="proposal-${proposal.id}" style="height:250px;display:block;">`);
  $(`#proposal-${proposal.id}`).append(`<img src="${proposal.image_url}" style="float:left;height:90%;margin-right:20px;">`);
  $(`#proposal-${proposal.id}`).append(`<h1 style="margin-bottom:0px"><a class="proposalLink" href="#" onclick="documentReadyCalls(${proposal.id}); return false">${proposal.name}</a></h1>`);
  $(`#proposal-${proposal.id}`).append(`<h1 style="margin-top:0px;">${proposal.description}</h1>`);
  $(`#proposal-${proposal.id}`).append(`</div>`);
  $(`#proposalIndex`).append(`<hr>`);
}

function indexTemplate () {

  $(".main").empty();
  $(".main").append(`<h1 style="font-size:60px;margin-bottom:10px;">Nominees</h1>`);
  $(".main").append(`<hr style="border-top:1px solid black;">`);
  $(".main").append(`<div id="proposalIndex" style="margin:20px 120px"></div>`);
  getProposalsForIndex();
  hideSideNav();
}

// proposal functions

function getProposal(navId) {
  $.get("/proposals/" + navId + ".json", function(data) {
    if (data === null) {
      alert("You're at the end of the line, buddy")
    }else {
      $(".proposalName").text(data["name"]);
      $(".proposalImage").html(`<img src="${data["image_url"]}" style="width:35%;height:auto;float:left;margin-right:40px;">`)
      $(".proposalDescription").text(data["description"]);
      let user = data["user"]["id"]
      $(".proposalUser").html(`<a href="/users/${data['user']['id']}">${data["user"]["name"]}</a>`);
      $(".proposalPitch").text(data["pitch"])
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    }
  });
}

function proposalTemplate(navId) {
  $(".main").empty();

  //div contains all proposal details
  $(".main").append(`<div id="proposalDetails">`)
  $("#proposalDetails").append(`<span class="proposalImage"></span>`);
  $("#proposalDetails").append(`<h1 class="proposalName" style="display:inline;"></h1>`);
  $("#proposalDetails").append(`<span class="open" style="font-size:30px;cursor:pointer;padding:20px;" onclick="hideSideNav()">&#9776; X</span>`);
  $("#proposalDetails").append(`<h3 class="proposalDescription"></h3>`);
  $("#proposalDetails").append(`<hr>`);
  $("#proposalDetails").append(`<p>Submitted by: <span class="proposalUser"></span></p>`);
  $("#proposalDetails").append(`<h1>Why This Proposal Should Be Accepted</h1>`)
  $("#proposalDetails").append(`<p class="proposalPitch"></p>`);
  $(".proposalDetails").append(`</div>`)

  // div contains site navigation buttons
  $(".main").append(`<div id="proposalNavigation">`)
  $("#proposalNavigation").append(`<button class="js-previous" data-id="${navId}">Previous Proposal</button>`);
  $("#proposalNavigation").append(`<button class="js-next" data-id="${navId}">Next Proposal</button>`);
  $(".proposalNavigation").append(`</div>`);

  // div adds ranking and comment forms
  $(".main").append('<%= j render 'logged_in_show' if current_user %>');

  if (currentUser != null) {
    $(`<div id="proposalComments"><h1><a href="#" onclick="getRecentComments(${navId}); return false">View Comments</a></h1></div>`).insertAfter(`#proposalForms #rankingForm`)
  } else {
  // div for comments
    $(".main").append(`<div id="proposalComments">`);
    $("#proposalComments").append(`<h1><a href="#" onclick="getRecentComments(${navId}); return false">View Comments</a></h1>`);
    $("#proposalComments").append(`<div id="comments"></div>`);
    $(".main").append(`</div>`);
  }
}

function proposalNavigation(){
  $(".js-next").on("click", function() {
    // set id for next proposal
    navId = (parseInt($(".js-next").attr("data-id")) + 1).toString();
    documentReadyCalls(navId);
  });
  $(".js-previous").on("click", function() {
    // set id for previous proposal
    navId = (parseInt($(".js-next").attr("data-id")) - 1).toString();
    if (navId === "0") {
      alert("Try clicking on 'next proposal' instead.")
    }
    documentReadyCalls(navId);
  });
}

function ProposalFormIds(navId) {
  if($("#comment_proposal")[0] && $("#ranking_proposal")[0]) {
    $("#comment_proposal")[0]["value"] = navId;
    $("#ranking_proposal")[0]["value"] = navId;
  };
}

function showProposalForms(navId) {
  $.get("/proposals/" + navId + ".json", function(data) {
      currentUser = $("#badIdea")[0]["value"]
      if (data["user"]["id"].toString() != currentUser) {
        $("#proposalForms").show();
        $("proposalNavigation").next().show()
      } else {
        $("#proposalForms").hide();
      }
  });
}

// comment functions

function getRecentComments(navId) {
  $(".main").empty()
  $.get(`/proposals/${navId}/comments.json`, function(data) {
    if (data.length > 3) {
      $("#comments_viewer").replaceWith(`<p><a id="comments_viewer" href="#" onclick="getAllComments(${navId}); return false;">View All Comments</a></p>`);
      let comments = data.length;
      let recentComments = (data.slice(data.length - 3, data.length));
      recentComments.forEach(function(comment) {
        commentTemplate(comment);
      });
      $(".main").prepend(`<span class="backToProposal"><a href="#" onclick="documentReadyCalls(navId); return false;">Back to Proposal</a></span>`)
      $(".main").prepend(`<span class="open" style="font-size:30px;cursor:pointer;padding:20px;" onclick="hideSideNav()">X</span>`);
      showSideNav();
    }else {
      getAllComments(navId);
    }
  });
}

function getAllComments(navId) {
  $(".main").empty()
  $.get(`/proposals/${navId}/comments.json`, function(data) {
    data.forEach(function(comment) {
      commentTemplate(comment)
    });
    $(".main").prepend(`<span class="backToProposal"><a href="#" onclick="documentReadyCalls(navId); return false;">Back to Proposal</a></span>`)
    $(".main").prepend(`<span class="open" style="font-size:30px;cursor:pointer;padding:20px;" onclick="hideSideNav()">X</span>`);
    showSideNav();
    if (data.length > 3) {
      $("#comments_viewer").replaceWith(`<p><a id="comments_viewer" href="#" onclick="getRecentComments(${navId}); return false;">View Most Recent Comments</a></p>`)
    }
  });
}

function postandInsertComment() {
  $('#new_comment').on("submit", async function(e) {
    e.preventDefault();
    if (this[2]["value"] != "") {
      var values = $(this).serialize();
      let posting = await $.post('/comments', values);
      let comments = await $.get(`/proposals/${navId}/comments.json`, function(data) {
      });
      let newComment = comments.pop();
      newCommentTemplate(newComment);
      $("input[type='submit']").removeAttr('disabled');
    } else {
      alert("Comments need content")
    }
  });
}

function commentTemplate(comment) {
  let replyCount = comment["replies"].length
  $(".main").prepend(`<div id="comment-${comment["id"]}">`)
  $(`#comment-${comment["id"]}`).append(`<h4><a href="/users/${comment['user']['id']}">${comment["user"]["name"]}</a> - ${comment["created_at"]} </h4>`);
  $(`#comment-${comment["id"]}`).append(`<h4>${comment["content"]}</h4>`);

  // viewable to registered users only
  if (currentUser != null) {
  $(`#comment-${comment["id"]}`).append(`<p id="reply_form_${comment['id']}"><a href="#" onclick="replyForm(${comment['id']});return false;"}/replies/new">Reply</a></p>`);
  }

  $(`#comment-${comment["id"]}`).append(`<p><a id="replies_viewer_${comment['id']}" href="#" onclick="showCommentReplies(${comment["id"]}, ${replyCount});return false;")>${replyCount} Replies</a></p>`);
  $(`#comment-${comment["id"]}`).append(`</div>`)
  $(`#comment-${comment["id"]}`).append(`<div id="replies_to_comment_${comment['id']}"></div>`)
  repliesTemplate(comment);
}

function newCommentTemplate(newComment) {
  $("#comments").prepend(`</div>`)
  $("#comments").prepend(`<p><a href="/proposals/${navId}/comments/${newComment.id}/replies/new">Reply</a></p>`)
  $("#comments").prepend(`<h4>${newComment.content}</h4>`)
  $("#comments").prepend(`<h4><a href="/users/${newComment.user.id}">${newComment.user.name}</a> - ${newComment.created_at} </h4>`);
  $("#comments").prepend(`<div id="comment-${newComment["id"]}">`)
}

//reply functions

function repliesTemplate(comment) {
  comment.replies.forEach(function(reply) {
    $(`#replies_to_comment_${comment["id"]}`).append('<hr>')

    $(`#replies_to_comment_${comment["id"]}`).append(`<h4 style="position:relative;left:50px;"><a href="/users/${reply['user']['id']}">${reply["user"]["name"]}</a> - ${reply["created_at"]} </h4>`);
    $(`#replies_to_comment_${comment["id"]}`).append(`<h4 style="position:relative;left:50px;">${reply["content"]}</h4>`);
  });
  $(`#replies_to_comment_${comment["id"]}`).append('<hr>')
  $('[id*="replies_to_comment"]').hide()
}

function postandInsertReply(comment) {
  $('#new_reply').on("submit", async function(e) {
    e.preventDefault();
  var values = $(this).serialize();
  let posting = await $.post('/replies', values);
  let replies = await $.get(`/proposals/${navId}/comments/${comment}.json`)
  let newReply = replies["replies"].pop();
  $('#new_reply').remove();
  newReplyTemplate(newReply, comment);
  });
}

function newReplyTemplate(newReply, comment) {
  $(`#replies_to_comment_${comment}`).append('<hr>')
  $(`#replies_to_comment_${comment}`).append(`<h4 style="position:relative;left:50px;"><a href="/users/${newReply['user']['id']}">${newReply["user"]["name"]}</a> - ${newReply["created_at"]} </h4>`);
  $(`#replies_to_comment_${comment}`).append(`<h4 style="position:relative;left:50px;">${newReply["content"]}</h4>`);
}

function replyForm(comment) {
  $(`#reply_form_${comment}`).append(`<%= j render partial: "/replies/form" %>`);
  setReplyFormIds(comment)
  postandInsertReply(comment);
}

function setReplyFormIds(comment) {
  $("#reply_proposal")[0]["value"] = navId;
  $("#reply_comment")[0]["value"] = `${comment}`;
}

function showCommentReplies(commentId, replyCount) {
  $(`#replies_to_comment_${commentId}`).show()
  $(`#replies_viewer_${commentId}`).replaceWith(`<p><a id="replies_viewer_${commentId}" href="#" onclick="hideCommentReplies(${commentId}, ${replyCount});return false;")>Hide Replies</a></p>`);
}

function hideCommentReplies(commentId, replyCount) {
  $(`#replies_to_comment_${commentId}`).hide()
  $(`#replies_viewer_${commentId}`).replaceWith(`<p><a id="replies_viewer_${commentId}" href="#" onclick="showCommentReplies(${commentId}, ${replyCount});return false;")>${replyCount} Replies</a></p>`);
}

//ranking functions

async function checkForUserRanking() {
  let currentUser = $("#badIdea")[0]["value"]
  let currentProposal = $("#ranking_proposal")[0]["value"]
  let res = await fetch('/rankings.json')
  let foundData = await res.json()
  let ranking = foundData.find(function(ranking) {
     return ranking["user"]["id"].toString() === currentUser && ranking["proposal"]["id"].toString() === currentProposal
   })

   if (ranking) {
     return ranking.user
   } else {
     return "not found"
   }
}

function addRanking() {
  $('#new_ranking').on("submit", function() {
    checkForUserRanking().then(res => {
      if (res === "not found") {
        var values = $(this).serialize();
        var posting = $.post('/rankings', values);
      }
      else {
        alert("You've already voted on this proposal");
      }
    });
  });
}

// nav menu functions

function showSideNav() {
  $("#mySidenav").css("width", "25%");
  $(".main").css({
    width: "70%",
    transition: "0.5s"
  })
  $(".open").replaceWith(`<span class="open" style="font-size:30px;cursor:pointer;padding:20px;" onclick="hideSideNav()">X</span>`);
}

function hideSideNav() {
  $("#mySidenav").css("width", "0");
  $(".main").css("width", "90%");
  $(".open").replaceWith(`<span class="open" style="font-size:30px;cursor:pointer;padding:20px;" onclick="showSideNav()">Browse Nominees</span>`);
  $(".open").css({
    "position":"fixed",
    "right":"7%"
  })
}

function showTopNav() {
  $(".topNav").css({
    "height":"auto",
    "border-bottom":"1px solid lightgray"
  })
  $("#topNavBurger").replaceWith(`<a id="topNavBurger" href="#" onclick="hideTopNav(); return false;" style="font-size:40px;color:rgb(175,200,229);">&#9776;</a></li>`);
}

function hideTopNav() {
  $(".topNav").css({
    "height":"0",
    "border-bottom":"0"
  })
  $("#topNavBurger").replaceWith(`<a id="topNavBurger" href="#" onclick="showTopNav(); return false;" style="font-size:40px;color:rgb(175,200,229);">&#9776;</a></li>`);
}

</script>
