<script type="text/javascript" charset="utf-8">

navId = null
currentUser = null

$(function () {
  profileOrHomeTemplate();
  $(".main").on("click", function(e) {
      if (!$(e.target).is("button")) {
      hideTopNav();
    }
  });
});

function loginTemplate() {
  hideSideNav();
  $("#topNavMenu").replaceWith(`<%= j render 'sessions/login' %>`);
  $("[type='submit']").removeAttr("data-disable-with");
}

function signUpTemplate() {
  $(".main").empty();
  hideSideNav();
  $(".main").append(`<div id="formWrapper"></div>`)
  $("#formWrapper").append(`<div id="userForm"></div>`)
  $("#userForm").append(`<h1>Sign Up</h1>`)
  $("#userForm").append(`<hr>`)
  $("#userForm").append(`<form class="new_user" id="new_user" action="post"></form>`);
  $(".new_user").append(`<h2>Email</h2>`)
  $(".new_user").append(`<p><input type="text" name="user[email]" id="user_email"></p>`)
  $(".new_user").append(`<h2>Password</h2>`)
  $(".new_user").append(`<p><input type="password" name="user[password]" id="user_password"></p>`)
  $(".new_user").append(`<p><input type="submit" name="commit" value="Create User" data-disable-with="Create User"></p>`)
  $(".new_user").append(`<h2><%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %></h2>`)
  postNewUser();
}

function postNewUser() {
  $(".new_user").on("submit", async function(e){
    e.preventDefault();
    var values = $(this).serialize();
    let posting = await $.ajax({
      type: "POST",
      url: '/users/',
      data: values
    });
    let users = await $.get(`/users.json`, function(data) {
    });
    if (users.pop) {
      newUser = users.pop()
      currentUser = newUser.id
    } else {
      alert("Let's try that again.")
      $('[type="submit"]').removeAttr("disabled");
    }
  });
}

// welcome page functions

function profileOrHomeTemplate() {
  currentUser = `<%= current_user.id if current_user %>`
  if (currentUser === ``) {
    $(".main").empty();
    $(".main").append(`<%= j render '/sessions/welcome_too' %>`);
    topThreeProposalDisplay();
  } else {
    currentUserProfileTemplate();
  }
}

function homeTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/sessions/welcome_too' %>');
  hideSideNav();
  topThreeProposalDisplay();
}


function loginDropDown() {
  $("#login").append('<%= j render "/sessions/login" %>');
  $("#login").css({
    "position":"relative",
    "top":"-20px"
  })
  $("#loginForm input").css({
    "height":"43px",
    "background-color": "rgba(255,255,255,0)",
    "border":"1px solid #3bb9ff",
    "border-radius":"5px",
    "font-size":"25px"
  });
  $("#loginForm input[type='submit']").css({
    "height":"40px",
    "border": "1px solid orange",
    "color":"white",
    "cursor":"pointer"
  });
  $("#loginForm a").css({
    "position": "relative",
    "left":"100px",
    "color":"white",
    "text-decoration":"none"
  })
  $("[type='submit']").removeAttr("data-disable-with");
}

function topThreeProposalDisplay() {
  $(".topThreeImages div").hover(
    function() {
      $(this).css({
        "transition": "0.5s",
        "opacity": "0.2",
      });
    },
    function() {
      $(this).css({
        "opacity": "1",
        "border": "0"
      })
    });
}

// user profile functions

function userIndexTemplate() {
  $(".main").empty();
  $(".main").append('<%= j render '/users/index' if current_user && current_user.admin %>');
}

function currentUserProfileTemplate() {
  hideSideNav();
  $.get(`/users/${currentUser}.json`, function(data) {
    if (data.admin) {
      $(".main").empty();
      $(".main").append('<%= j render '/users/admin_show' %>');
    } else {
      $(".main").empty();
      $(".main").append('<%= j render '/users/non_admin_show' %>');
      $(window).scrollTop(0);
      enlargeLoggedInIcon();
      shrinkLoggedInIcon();
      hideTopNav();
    }
  });
}

function enlargeLoggedInIcon() {
  $("#loggedInIcon").animate({
    "width":"280px",
    "height":"280px",
    "border-bottom-right-radius":"25px",
    "border-bottom-left-radius":"25px",
    "border-top-right-radius":"0",
    "border-top-left-radius":"0",
    "top":"50px",
    "right":"10.5%"},
    1000)
  $("#userDetails h1").animate({"margin-top":"290px"},1000,function(){})
}

function shrinkLoggedInIcon() {
  $("a").on("click", function() {
    animateShrinkage();
  })
}

function animateShrinkage() {
  $("#loggedInIcon").animate({
    "top":"0",
    "height":"40px",
    "width":"40px",
    "float":"right",
    "margin-top":"10px",
    "margin-right":"-40px",
    "overflow": "hidden",
    "border-radius":"50%"
  },400,function(){});
  $("#userDetails h1").animate({"margin-top":"0px"},1000,function(){})
}

// edit profile functions

function editProfileTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append('<%= j render '/users/edit' %>');
  hideSideNav();
  $("#editUserDetails").animate({"left": "31.5%"}, 10, function() {});
}

function hideCurrentUserProfileTemplate() {
  $("#userDetails").animate({"right": "-36%"}, 500, function() {})
}

// proposal functions

function editProposalTemplate() {
  hideCurrentUserProfileTemplate()
  $(".main").append(`<%= j render '/proposals/edit' %>`);
  editProposal()
  hideSideNav();
  $("#editProposalDetails").animate({"right": "-33%"}, 10, function() {});
}

//reply functions

function replyForm(comment) {
  $(`#reply_form_${comment}`).append(`<%= j render partial: "/replies/form" %>`);
  setReplyFormIds(comment)
  postandInsertReply(comment);
}

</script>
