
<% if @proposal.image_url %>
  <img src="<%=@proposal.image_url%>" style="border: 1px solid black; max-width: 20%; height: auto; float: left; margin-right: 10px;">
<% end %>

<h1><%= @proposal.name %></h1>
<% if !@proposal.rankings.empty? %>
<p>Average Rating: <%= @proposal.rankings_average %></p>
<% end %>
<h3>Description</h3>
<p><%= @proposal.description %></p>
<h3>Why This Proposal Should Be Accepted</h3>
<p><%= @proposal.pitch %></p>

<% if current_user %>
  <%= render partial: 'logged_in_show' %>
<% end %>

<h3>Recent Comments:</h3>
<%= link_to "View All Comments", proposal_comments_path(@proposal) %>
  <hr>
  <% if !@proposal.comments.empty? %>
    <% @proposal.comments.newest_first.limit(3).each do |comment| %>
    <%= comment.content %> - <%= link_to comment.user.name, user_path(comment.user) %> - <%= comment.created_at %>
    <hr>
    <% end %>
  <% else %>
    <p>This comments index is empty.</p>
    <hr>
  <% end %>
