<style>
  img {
    width: 35%;
    height: auto;
    float: left;
    margin: 20px 20px 20px 0;
  }
</style>

<% if @proposal.image_url && !@proposal.image_url.empty? %>
  <div class="proposalImage">
    <img src="<%= @proposal.image_url%>">
  </div>
<% end %>
<h1 class="proposalName"><%= @proposal.name %></h1>
<h3 class="proposalDescription"><%= @proposal.description %></h3>
<hr>
<p>Submitted by: <span class="proposalUser"><%= linked_or_not(@proposal.user) %></span></p>
<h1>Why This Proposal Should Be Accepted</h1>
<p class="proposalPitch"><%= @proposal.pitch %></p>

<% if current_user %>
  <%= render partial: 'logged_in_show' %>
<% end %>
<button class="js-next" data-id="<%= @proposal.id %>">Next Proposal</button>

<hr>

<h1>Recent Comments:</h1>
<p><%= link_to "View All Comments For This Post", proposal_comments_path(@proposal) %></p>

<div id="recentComments">

  <% if !@proposal.comments.empty? %>
    <% @proposal.comments.newest_first.limit(3).each do |comment| %>
    <h4><%= linked_or_not(comment.user) %> - <%= comment.created_at %></h4>
    <h4><%= comment.content %></h4>
    <p><%= link_to "Reply", new_proposal_comment_reply_path(@proposal.id, comment.id) if logged_in? %></p>
    <% if current_user && (current_user == comment.user || current_user.admin) %>
      <p><%= link_to "Edit", edit_comment_path(comment) %>
      <%= link_to "Delete", comment_path(comment), data: {:confirm => 'Are you sure?'}, method: "delete" %></p>
    <% end %>

    <% if comment.replies %>
      <br>
      <% comment.replies.each do |reply| %>
        <div>
          <hr>
          <h4><%= linked_or_not(reply.user) %> - <%= reply.created_at %></h4>
          <h4><%= reply.content %></h4>
          <% if current_user && (current_user == reply.user || current_user.admin) %>
            <p><%= link_to "Edit", edit_reply_path(reply) %>
            <%= link_to "Delete", reply_path(reply), data: {:confirm => 'Are you sure?'}, method: "delete" %></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <% end %>
  <% else %>
    <p>There are no comments to display.</p>
    <hr>
  <% end %>
</div>


<script type="text/javascript" charset="utf-8">


$(function () {
  $(".js-next").on("click", function() {
    // set id for next proposal
    let nextId = (parseInt($(".js-next").attr("data-id")) + 1).toString();
    // re-set the proposal id for comment and ranking forms
    setFormIds(nextId);
    // add next proposal details to DOM
    getProposals(nextId);
    // add proposal comments to the DOM for current proposal
    getComments(nextId);
    addComment();
  });



    $('#rankingForm form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      $.post('/rankings/new', values)
    });


});

function addComment() {
  $('#new_comment').on("submit", function(e) {
    e.preventDefault();
    var values = $(this).serialize();
    var posting = $.post('/comments', values);
  });
}

function setFormIds(nextId) {
  if($("#comment_proposal")[0] && $("#ranking_proposal")[0]) {
    $("#comment_proposal")[0]["value"] = nextId;
    $("#ranking_proposal")[0]["value"] = nextId;
  };
}


function getProposals(nextId) {
  $.get("/proposals/" + nextId + ".json", function(data) {
    $(".proposalName").text(data["name"]);
    $(".proposalImage").html(`<img src="${data["image_url"]}">`)
    $(".proposalDescription").text(data["description"]);
    let user = data["user"]["id"]
    $(".proposalUser").html(`<a href="/users/${data['user']['id']}">${data["user"]["name"]}</a>`);
    $(".proposalPitch").text(data["pitch"])
    // re-set the id to current on the link
    $(".js-next").attr("data-id", data["id"]);
  });
}

function getComments(nextId) {
  $.get(`/proposals/${nextId}/comments.json`, function(data) {
    $("#recentComments").empty()
    data.forEach(function(comment) {
      $("#recentComments").append(`<h4><a href="/users/" + ${comment["user_id"]}>${comment["user"]["name"]}</a> - ${comment["created_at"]} </h4>`)
      $("#recentComments").append(`<h4>${comment["content"]}</h4>`)
      $("#recentComments").append(`<p><a href="/proposals/${nextId}/comments/${comment['id']}/replies/new">Reply</a></p>`)
    });
  });
}
</script>
