
<% if @proposal.image_url %>
  <img src="<%=@proposal.image_url%>" style="border: 1px solid black; max-width: 20%; height: auto; float: left; margin-right: 10px;">
<% end %>

<h1><%= @proposal.name %></h1>
<% if !@proposal.rankings.empty? %>
<p>Average Rating: <%= @proposal.rankings_average %></p>
<% end %>
<h3>Description</h3>
<p><%= @proposal.description %></p>
<h3>Why This Proposal Should Be Accepted</h3>
<p><%= @proposal.pitch %></p>

<% if current_user %>
  <%= render partial: 'logged_in_show' %>
<% end %>
