<div style="display:block;height:350px;overflow:scroll">
<% if @proposal.image_url %>
  <img src="<%=@proposal.image_url%>" style="border: 1px solid black; max-width: 20%; height: auto; float: left; margin-right: 10px;">
<% end %>

<h1 style="margin-bottom:0px;"><%= @proposal.name %></h1>
<h3 style="margin:0px 0px;"><em><%= @proposal.description %></em></h3>
<% if !@proposal.rankings.empty? %>
<p style="margin-top:2px;">Submitted by: <%= user_name_linked_or_not %></p>
<% end %>
<h3>Why This Proposal Should Be Accepted</h3>
<p><%= @proposal.pitch %></p>
</div>


<% if current_user %>
  <%= render partial: 'logged_in_show' %>
<% end %>

<h3 style="margin-bottom:0px;">Recent Comments:</h3>
<%= link_to "View All Comments For This Post", proposal_comments_path(@proposal), :style => 'margin-top:0px'%>
  <hr>
  <% if !@proposal.comments.empty? %>
    <% @proposal.comments.newest_first.limit(3).each do |comment| %>
    <%= comment.content %><br>
    <%= link_to comment.user.name, user_path(comment.user) %> - <%= comment.created_at %><br>
    <%= link_to "Reply", new_proposal_comment_reply_path(@proposal.id, comment.id) %>
    <% if current_user == comment.user || current_user.admin %>
      <%= link_to "Edit", edit_comment_path(comment), :style => 'margin-left:10px;' %>
      <%= link_to "Delete", comment_path(comment), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'margin-left:10px;' %>
    <% end %>
    <% if comment.replies %>
      <br>
      <% comment.replies.each do |reply| %>
        <div style="margin-left:40px;">
          <hr style="border-top:1px dotted black;">
          <%= reply.content %><br>
          <%= link_to reply.user.name, user_path(reply.user) %> - <%= reply.created_at %><br>
          <% if current_user == reply.user || current_user.admin %>
            <%= link_to "Edit", edit_reply_path(reply) %>
            <%= link_to "Delete", reply_path(reply), data: {:confirm => 'Are you sure?'}, method: "delete", :style => 'margin-left:10px;' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <hr>
    <% end %>
  <% else %>
    <p>There are no comments to display.</p>
    <hr>
  <% end %>
