<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">

<style>

      body {
        margin: 0;
      }

      .main {
        margin: 10px 40px;;

      }

      h1, h2, h3, h4, span {
        font-family: 'Raleway', sans-serif;
      }

      span {
        line-height: 3px;
      }

      p, li {
        font-family: 'PT Sans', sans-serif;
      }

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: red;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      navbar ul {
        background-color: rgb(249,249,249);
        height: 40px;
      }

      p a {
        text-decoration: underline
      }

      navbar li {
        position: relative;
        top: 10px;
        left: 50px;
        display:inline;
        padding-left: 5px;
      }

      navbar div {
        position: relative;
        right: 100px;
      }

      .main {
        margin-top:60px;
      }

      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 40;
        right: 0;
        border-left: 1px solid lightgray;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .sidenav .close {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        opacity: 0.3;
      }
      .sidenav .close:hover {
        opacity: 1;
      }
      .open {
        position: absolute;
        top: 40;
        right: 0;
        border-left: 1px solid lightgray;
      }
      .sidenav .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
      }
      .sidenav .close:before {
        transform: rotate(45deg);
      }
      .sidenav .close:after {
        transform: rotate(-45deg);
      }

    </style>
  </head>
  <body>


    <div id="mySidenav" class="sidenav">
      <h1 style="font-size:40px;color:rgb(175,200,229);margin-left:30px;">Nominees</h1>
      <a href="#" class="close" onclick="hideNav(); return false"></a>
      <% if @proposals %>
        <% @proposals.each do |proposal| %>
        <h3 class="proposalLink" id="<%= proposal.id %>"><%= link_to proposal.name, proposal_path(proposal) %></h3>
        <hr>
        <% end %>
      <% end %>
    </div>
    <span class="open" style="font-size:30px;cursor:pointer;visibility:hidden;" onclick="showNav()">&#9776; open</span>


    <navbar class="sticky">
      <ul style="list-style-type:none;margin:0;padding:0;">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "View Nominees", proposals_path %></li>
        <% if logged_in? %>
          <div style="float:right;">
            <% if !current_user.name %>
              <li><%= link_to "#{current_user.email}'s Profile", user_path(current_user) %></li>
            <% else %>
              <li><%= link_to "#{current_user.name}'s Profile", user_path(current_user) %></li>
            <% end %>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
          </div>
        <% else %>
        <div style="float:right;">
        <li><%= link_to "Log In", new_session_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        </div>
        <% end %>
      </ul>
    </navbar>

    <!-- content -->
    <div class="main">
      <% if flash[:non_admin_warning] %>
        <h1 style="color:red"><%= flash[:non_admin_warning] %></h1>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
