<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

        <%= link_to "Home", root_path %>
        <% if session[:user_id] %>
        <%= link_to "#{current_user.name}'s Profile", user_path(current_user) %>
        <%= link_to "Log Out", logout_path, method: "delete" %>
        <% else %>
        <%= link_to "Log In", new_session_path %>
        <%= link_to "Sign Up", new_user_path %>
        <% end %>
        <%= link_to "View Proposals", proposals_path %>
    


    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
