<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">

<style>

  body {
    margin: 0;
  }

  .main {
    margin: 80px 40px;
  }

  h1, h2, h3, h4, span, li {
    font-family: 'Raleway', sans-serif;
  }

  span {
    line-height: 3px;
  }

  p {
    font-family: 'PT Sans', sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }


  p a {
    text-decoration: underline
  }

  a:hover {
    color: red;
  }

/*===== STYLING FOR WELCOME PAGE "TOP NOMINATIONS" SECTION =====*/

  .img_wrap {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px
    overflow: hidden;
    text-align: center
  }

  .topThreeImages {
    position: absolute;
  }

  .topThreeDescriptions h1 {
   margin:20px 20px 0 20px;
   font-size: 35px;
   color:rgb(175,200,229);
 }

 .topThreeDescriptions p {
  margin:0 20px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/*===== STYLING FOR NON_ADMIN_SHOW =====*/

  #userDetails {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 20px 20px 40px 20px;
    width: 33%;
    background-color:rgba(255,249,249,0.8);
    text-align: center;
    height: 100%;
    overflow: scroll;
    z-index: -1;
  }

  .detailsButton {
    margin: 0;
    background-color: #01abaa;
    padding: 8px 8px 6px 8px;
    max-width:30%;
    height: 20px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
  }



/*===== STYLING FOR OTHER USER PROFILE TEMPLATE =====*/
  #otherUserDetails {
    position: absolute;
    top: 150px;
    padding: 20px 20px 40px 20px;
    height: auto;
    width: 20%;
    margin: 0 36%;
    background-color:rgba(255, 255, 255);
    border-radius: 5px;
    text-align: center;
  }

  #otherUserDetails h1 {
    margin: 0px;
  }

  #otherUserDetails h3:last-of-type {
    margin-bottom: 25px;
  }

  #otherUserDetails img, #userDetails img {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
  }

  #otherUserDetails hr:first-of-type {
    margin-top: 20px;
  }

  #otherUserDetails hr, #userDetails hr {
    border-top: 1px solid black;
  }

  #otherUserDetails a {
    background: orange;
    padding: 10px 18px;
    width: 75%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  #otherUserDetails, a:hover {
    color: red;
  }

/*===== PROPOSAL SHOW PAGE STYLING ======*/

div #proposalDetails {
  overflow: overlay;
  height: 90%;
}

.proposalName {
  display: inline;
}

.proposalImage img {
  width:35%;
  height:auto;
  float:left;
  margin-right:40px;
}

/*===== PROPOSAL INDEX STYLING =====*/

  #proposalIndex {
     margin: 20px 120;
  }

  #proposalIndex img {
     float:left;
     height:90%;
     margin-right:20px;
  }

  #proposalIndexHeader {
    font-size:60px;
    margin-bottom:10px;
  }

  [id*='proposal-'] {
    height:250px;
    display:block;
  }

  [id*='proposal-'] #name {
    margin-bottom:0px;
  }

  [id*='proposal-'] #description {
    margin-top:0px;
  }

/*===== PROPOSAL COMMENTS PAGE STYLING =====*/

  [id*='replies_to_comment_'] h4 {
     position:relative;
     left:50px;
  }


/*===== FORM STYLING  ======*/

  /* forms to edit and create proposals*/

  .new_proposal {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 20px;
    height: auto;
    margin: 20px 40%;
  }

  #editProposalDetails {
    position: fixed;
    top: 60px;
    right: -70%;
    max-height: calc(100vh - 6rem);
    width: 33%;
    margin: 0 32%;
    padding: 20px 20px 40px 20px;
    overflow: overlay;
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: 0.5s;
  }

  #editProposalDetails input[type="text"] {
    width: 75%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  #editProposalDetails textarea {
    width: 75%;
    border-radius: 5px;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  /* user signup form */

  #userForm {
    position: absolute;
    top: 200px;
    z-index: -1;
    width: 20%;
    margin: 0 38%;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.7);
    text-align: center;
  }

  #userForm input[type="password"] {
    width: 75%;
    height: 30px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  #userForm h1 {
    font-size: 60px;
    margin: 10px 0;
  }

  #formWrapper {
    position: absolute;
    top: -20px;
    left: -100px;
    width: 125%;
    height: 1000px;
    z-index: -1;
    background-image: url(<%= Proposal.find(6).image_url %>);
    background-size: cover;
  }

  /* user login form */

  #loginForm {
    margin-top: 30px;
    margin-left: 55px;
  }

  #loginForm input {
    height: 20px;
    width: 90%;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    color: gray;
    font-family: 'Raleway', sans-serif;
  }

    #loginForm input[type="submit"] {
      background-color: orange;
      width: 92%;
      height: 30px;
      color: black;
    }

    #loginForm a {
      font-size: 16px;
      margin-left: -15px;
      font-family: 'Raleway', sans-serif;
      color: black;
    }

    #loginForm a:hover {
      color: red;
    }

  /* edit user form */

  #editUserDetails {
    position: fixed;
    top: 60px;
    max-height: calc(100vh - 1rem);
    width: 33%;
    margin: 0 32%;
    padding: 20px 20px 40px 20px;
    overflow: overlay;
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: 0.5s;
  }

  #editUserDetails h1 {
    margin: 0px;
  }

  #editUserDetails h3:last-of-type {
    margin-bottom: 25px;
  }

  #editUserDetails hr:first-of-type {
    margin-top: 20px;
  }

  #editUserDetails hr {
    border-top: 1px solid black;
  }

  #editUserDetails input[type="submit"], #userForm input[type="submit"], #editProposalDetails input[type="submit"]{
    background: orange;
    padding: 10px 18px;
    margin-top: 20px;
    border-radius: 5px;
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: white;
  }

  #editUserDetails input[type="text"], input[type="number"], #userForm input[type="text"]{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

  #editUserDetails a:hover, #userForm input[type="submit"]:hover {
    color: red;
  }

  /* forms to comment on and rank specific proposals */

  #proposalForms {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    border-top: 1px solid lightgray;
    background-color: white;
  }

  #rankingForm {
    display: inline-block;
    width: 31%;
    text-align: center;
    margin-left: 3%;
  }

  #commentForm {
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 0;
  }

  #loggedInProposalComments {
    display: inline-block;
    width: 31%;
    text-align: center;
  }

  #proposalComments a {
    background-color:rgb(175,200,229);
    padding: 10px 15px;
    font-size: 30px;
  }


/*===== NAVBAR AND NAVIGATION STYLING =====*/

  /* styles top navbar */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  navbar ul {
    background-color: rgb(249,249,249);
    height: 60px;
  }

  navbar li {
    position: relative;
    left: 50px;
    display:inline;
    padding-left: 5px;
  }

  navbar div {
    position: relative;
    right: 100px;
  }

  #loggedInIcon {
    height:40px;
    width:40px;
    float:right;
    margin-top:10px;
    margin-right:-40px;
    overflow: hidden;
    border-radius:50%;
  }

  #loggedInIcon img {
    height:100%;
    width:auto;
  }

  /* next and previous proposal navigation  */

  .js-next {
    margin: 20px 20px 10px 0px;
    width: 175px;
  }

  .js-previous {
    margin: 20px 20px 10px 0px;
    width: 175px;
  }

  /* proposal index -- popout side navigation menu */

  .sidenav {
    max-height: calc(100vh - 4rem);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40;
    right: 0;
    border-left: 1px solid lightgray;
    background-color: white;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 20px;
    margin-top: -20px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover, .topNav a:hover {
    color: #f1f1f1;
  }

  .open {
    background-color:rgb(175,200,229);
    font-size:30px;
    cursor:pointer;
    padding:20px;
    position: fixed;
    right: 25%;
  }

  /* user options menu - login, signup, etc - popout on man navbar */

  .topNav {
    max-height: 0;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 60;
    left: 0;
    border-right: 1px solid lightgray;
    background-color: white;
    overflow: overlay;
    margin-top: -20px;
  }

  .topNav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .topNav li[id="logInInfo"] a {
    font-size: 18px;
  }

  #topNavBurger {
    font-size:40px;
    color:rgb(175,200,229);
  }

  /* takes users back to proposal from proposal comments page */

  .backToProposal {
    background-color:rgb(175,200,229);
    padding: 20px;
    font-size: 30px;
    position: fixed;
    right: 25%;
    top: 150px;
  }

/*=== STYLES POPUP FORMS  */

  #commentPopUp, #rankingPopUp {
    height: 0;
    width: 30%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    overflow: overlay;
    transition: 0.5s;
  }

  #commentPopUp {
    bottom: 0;
    right: 25%;
  }

  #rankingPopUp {
    bottom: 0;
    left: 0;
  }

  #commentPopUp input, #rankingPopUp input {
    font-family: 'Raleway', sans-serif;
  }

  #commentPopUp input[type="text"], #rankingPopUp input[type="number"] {
    width: 90%;
    height: 80px;
    margin: 20px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 20px;
  }

  #commentPopUp input[type="submit"], #rankingPopUp input[type="submit"] {
    width: 92%;
    height: 50px;
    margin: 0px 4%;
    border-radius: 5px;
    background-color: rgb(175,200,229);
    font-size: 30px;
  }

  </style>
</head>

  <body>

    <div id="mySidenav" class="sidenav">
      <h3 style="font-size:40px;color:rgb(175,200,229);display:inline;margin-left:26px; auto;">Nominees</h1>
        <% if @proposals %>
        <% @proposals.each do |proposal| %>
        <h3><a class="proposalLink"><a href="#" onclick="documentReadyCalls(<%= proposal.id %>); return false"><%= proposal.name %></a></h3>
        <hr>
        <% end %>
      <% end %>
    </div>

<% if current_user %>

    <div id="rankingPopUp">
      <%= form_for(:ranking, :url => rankings_path, :html => {id: "new_ranking"}) do |f| %>
        <%= f.number_field :ranking %>
        <%= f.hidden_field :proposal, :value => "" %>
        <%= f.hidden_field :user, :value => current_user.id, id: "badIdea" %>
        <%= f.submit "Rank This Proposal" %>
      <% end %>
    </div>

    <div id="commentPopUp">
      <%= form_for(:comment, url: comments_path, :html => {id: "new_comment"}) do |f| %>
        <%= f.text_field :content, :rows => 5 %>
        <%= f.hidden_field :proposal, :value => "" %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>

<% end %>

    <div class="topNav">
      <div id ="topNavMenu">
        <ul style="list-style-type:none">
          <li id="logInInfo">
            <% if current_user %>
              <a href="#" onclick="currentUserProfileTemplate();hideTopNav();return false;" style="float:left">My Profile</a>
              <a href="#" onclick="editProfileTemplate();hideTopNav();return false;" style="float:left">Edit Profile</a>
              <%= link_to "Log Out", logout_path, { :method => "delete", :style=> 'float:right'  } %>
            <% else %>
              <a href="#" onclick="loginTemplate(); return false;" style="float:left">Log In</a>
              <a href="#" onclick="signUpTemplate(); return false;" style="float:right">Sign Up</a>
            <% end %>
          </li>
          <hr style="clear:both;">
          <li><a href="#" onclick="indexTemplate();hideTopNav();return false">View Nominees</a></li>
          <% if current_user %>
            <% if current_user.proposal %>
              <hr>
              <li><a href="#" onclick="documentReadyCalls(<%= current_user.proposal.id %>);hideTopNav();return false;">View Proposal</a></li>
              <hr>
              <li><a href="#" onclick="editProposalTemplate();hideTopNav();return false;">Edit Proposal</a></li>
            <% elsif !current_user.admin && !current_user.proposal %>
              <hr>
              <li><a id="submitProposalLink" href="#" onclick="newProposalTemplate();hideTopNav();return false;">Submit a Proposal</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <navbar class="sticky">
      <ul style="list-style-type:none;margin:0;padding:0;">
        <li><a id="topNavBurger" href="#" onclick="showTopNav(); return false;" style="font-size:40px;color:rgb(175,200,229);">&#9776;</a></li>
        <li><h1 style="display:inline"><a href="#" onclick="homeTemplate();hideTopNav();return false;">sheBuiltNYC</a></h3></li>
        <% if current_user %>
        <li><div id="loggedInIcon"><a href="#" onclick="currentUserProfileTemplate(); return false;"><img src="<%= current_user.image_url %>"></a></div></li>
        <% end %>
      </ul>
    </navbar>

    <!-- content -->
    <div class="main">
      <% if flash[:non_admin_warning] %>
        <h1 style="color:red"><%= flash[:non_admin_warning] %></h1>
      <% end %>
      <%= yield %>
    </div>



  </body>
</html>
