<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
<style>

  body {
    margin: 0;
  }

  .main {
    margin: 80px 40px;
  }

  h1, h2, h3, h4, span, li {
    font-family: 'Raleway', sans-serif;
  }

  span {
    line-height: 3px;
  }

  p {
    font-family: 'PT Sans', sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }


  p a {
    text-decoration: underline
  }

  a:hover {
    color: red;
  }

/*===== STYLING FOR WELCOME PAGE "TOP NOMINATIONS" SECTION =====*/

  .img_wrap {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 400px
    overflow: hidden;
    text-align: center
  }

  .topThreeImages {
    position: absolute;
  }

  .topThreeDescriptions h1 {
   margin:20px 20px 0 20px;
   font-size: 35px;
   color:rgb(175,200,229);
 }

 .topThreeDescriptions p {
  margin:0 20px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/*===== STYLING FOR NON_ADMIN_SHOW =====*/

  #userDetails {
    display: inline-block;
    width:auto;
    float:right;
  }

  #userDetails h3 {
    margin-top: 0px;
    margin-bottom: 2px
  }

  #userDetails h3 a {
    text-decoration: underline;
  }

  #userOptions {
    float: left;
    margin-right: 10px;
  }

/*===== PROPOSAL SHOW PAGE STYLING ======*/

div #proposalDetails {
  overflow: overlay;
  height: 500px;
}

.proposalName {
  display: inline;
}

/*===== PROPOSAL INDEX STYLING =====*/

#proposalIndex img {
   float:left;
   height:90%;
   margin-right:20px;
}

[id*='proposal-'] {
  height:250px;
  display:block;
}

[id*='proposal-'] #name {
  margin-bottom:0px;
}

[id*='proposal-'] #description {
  margin-top:0px;
}

/*===== FORM STYLING  ======*/

  /* forms to edit and create proposals*/

  .edit_proposal, .new_proposal {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 20px;
    height: 100%;
    margin: 20px 40%;
  }

  /* user signup form */

  #userForm {
    display: inline-block;
    background-color:rgba(255, 255, 255, 0.6);
    padding: 15px;
    height: 290px;
    width: 215px;
    margin: 40px 42%;
  }

  #userForm h1 {
    font-size: 60px;
    margin: 10px 0;

  }

  #userForm p {
    margin: 4px 0;
  }

  #userForm input[type="submit"] {
    margin: 15px 0;
  }

  #formWrapper {
    position: relative;
    top: -20px;
    left: -100px;
    width: 125%;
    height: 1000px;
    background-image: url(<%= Proposal.find(6).image_url %>);
    background-size: cover;
  }

  /* user login form */

  #loginForm h1, #loginForm p {
    text-align: center;
  }

  #loginForm input {
    margin-left: 20px;
  }

  #loginForm input[type="submit"] {
    margin-right: 20px;
  }

  /* forms to comment on and rank specific proposals */

  #proposalForms {
    border-top: 1px solid lightgray;
    margin: 0
    height: 110px;
  }

  #rankingForm {
    display: inline-block;
    width: 31%;
    text-align: center;
  }

  #commentForm {
    display: inline-block;
    width: 31%;
    text-align: center;
  }

  #loggedInProposalComments {
    display: inline-block;
    width: 31%;
    text-align: center;
    margin: 0px
  }

  #loggedInProposalComments a {
    position: relative;
    bottom: 44px;
  }

  #proposalComments a {
    background-color:rgb(175,200,229);
    padding: 10px 15px;
    font-size: 30px;
  }


/*===== NAVBAR AND NAVIGATION STYLING =====*/

  /* styles top navbar */

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  navbar ul {
    background-color: rgb(249,249,249);
    height: 60px;
  }

  navbar li {
    position: relative;
    left: 50px;
    display:inline;
    padding-left: 5px;
  }

  navbar div {
    position: relative;
    right: 100px;
  }

  #loggedInIcon {
    height:40px;
    width:40px;
    float:right;
    margin-top:10px;
    margin-right:-40px;
    overflow: hidden;
    border-radius:50%;
  }

  #loggedInIcon img {
    height:100%;
    width:auto;
  }

  /* next and previous proposal navigation  */

  .js-next {
    width: 175px;
  }

  .js-previous {
    margin: 20px 20px 10px 0px;
    width: 175px;
  }

  /* proposal index -- popout side navigation menu */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 40;
    right: 0;
    border-left: 1px solid lightgray;
    background-color: white;
    overflow: overlay;
    transition: 0.5s;
    padding-top: 20px;
    margin-top: -20px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover, .topNav a:hover {
    color: #f1f1f1;
  }

  .open {
    background-color:rgb(175,200,229);
    padding: 5px;
    position: fixed;
    right: 25%;
  }

  /* user options menu - login, signup, etc - popout on man navbar */

  .topNav {
    height: 0;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 60;
    left: 0;
    border-right: 1px solid lightgray;
    background-color: white;
    overflow: overlay;
    margin-top: -20px;
  }

  .topNav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .topNav li[id="logInInfo"] a {
    font-size: 18px;
  }

  /* takes users back to proposal from proposal comments page */

  .backToProposal {
    background-color:rgb(175,200,229);
    padding: 20px;
    font-size: 30px;
    position: fixed;
    right: 25%;
    top: 150px;
  }

  </style>
</head>

  <body>

    <div id="mySidenav" class="sidenav">
      <h3 style="font-size:40px;color:rgb(175,200,229);display:inline;margin-left:26px; auto;">Nominees</h1>
        <% if @proposals %>
        <% @proposals.each do |proposal| %>
        <h3><a class="proposalLink"><a href="#" onclick="documentReadyCalls(<%= proposal.id %>); return false"><%= proposal.name %></a></h3>
        <hr>
        <% end %>
      <% end %>
    </div>

    <div class="topNav">
      <ul style="list-style-type:none">
        <li id="logInInfo">
          <% if current_user %>
            <a href="#" onclick="userProfileTemplate(); return false;" style="float:left">My Profile</a>
            <a href="#" onclick="editProfileTemplate(); return false;" style="float:left">Edit Profile</a>
            <%= link_to "Log Out", logout_path, { :method => "delete", :style=> 'float:right'  } %>
          <% else %>
            <a href="#" onclick="loginTemplate(); return false;" style="float:left">Log In</a>
            <a href="#" onclick="signUpTemplate(); return false;" style="float:right">Sign Up</a>
          <% end %>
        </li>
        <hr style="clear:both;">
        <li><a href="#" onclick="indexTemplate(); return false">View Nominees</a></li>
        <% if current_user %>
          <% if current_user.proposal %>
            <hr>
            <li><a href="#" onclick="editProposalTemplate(); return false;">Edit Proposal</a></li>
          <% elsif !current_user.admin && !current_user.proposal %>
            <hr>
            <li><%= link_to "Submit a Proposal", new_proposal_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <navbar class="sticky">
      <ul style="list-style-type:none;margin:0;padding:0;">
        <li><a id="topNavBurger" href="#" onclick="showTopNav(); return false;" style="font-size:40px;color:rgb(175,200,229);">&#9776;</a></li>
        <li><h1 style="display:inline"><a href="#" onclick="homeTemplate(); return false;">sheBuiltNYC</a></h3></li>
        <% if current_user %>
        <li><div id="loggedInIcon"><a href="#" onclick="userProfileTemplate(); return false;"><img src="<%= current_user.image_url %>"></a></div></li>
        <% end %>
      </ul>
    </navbar>

    <!-- content -->
    <div class="main">
      <% if flash[:non_admin_warning] %>
        <h1 style="color:red"><%= flash[:non_admin_warning] %></h1>
      <% end %>
      <%= yield %>
    </div>



  </body>
</html>
