<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway:100" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">

<style>

      body {
        margin: 0;
      }

      .main {
        margin: 80px 40px;;
      }

      h1, h2, h3, h4, span, li {
        font-family: 'Raleway', sans-serif;
      }

      span {
        line-height: 3px;
      }

      p {
        font-family: 'PT Sans', sans-serif;
      }

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: red;
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      /* styling for _non_admin_show */

      #userDetails {
        display: inline-block;
        width:50%;
        float:right;
      }

      #userDetails h3 {
        margin-top: 0px;
        margin-bottom: 2px
      }

      #userDetails h3 a {
        text-decoration: underline;
      }

      #userOptions {
        float: left;
        margin-right: 10px;
      }

      navbar ul {
        background-color: rgb(249,249,249);
        height: 60px;
      }

      p a {
        text-decoration: underline
      }

      navbar li {
        position: relative;
        left: 50px;
        display:inline;
        padding-left: 5px;
      }

      navbar div {
        position: relative;
        right: 100px;
      }

      div #proposalDetails {
        overflow: overlay;
        height: 500px;
      }

      .js-next {
        width: 175px;
      }

      .js-previous {
        margin: 20px 20px 10px 0px;
        width: 175px;
      }

      #proposalForms {
        border-top: 1px solid lightgray;
        margin-top: 10px;
        height: 110px;
      }

      #rankingForm {
        margin-top: 10px;
        float: left;
      }

      #rankingForm h1 {
        margin: 5px 10px 10px 0;
      }

      #commentForm {
        margin-top: 10px;
        float: right;
      }

      #commentForm h1 {
        margin: 10px 10px 10px 0px;
      }

      #proposalComments {
        border-top: 1px solid lightgray;
        clear: both;
      }

      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 40;
        right: 0;
        border-left: 1px solid lightgray;
        background-color: white;
        overflow: overlay;
        transition: 0.5s;
        padding-top: 20px;
        margin-top: -20px;
      }

      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }

      .sidenav a:hover, .topNav a:hover {
        color: #f1f1f1;
      }

      .open {
        background-color:rgb(175,200,229);
        padding: 5px;
        position: fixed;
        right: 25%;
     }
     .topNav {
       height: 0;
       width: 25%;
       position: fixed;
       z-index: 1;
       top: 60;
       left: 0;
       border-right: 1px solid lightgray;
       background-color: white;
       overflow: overlay;
       transition: 0.5s;
       margin-top: -20px;
     }

     .topNav a {
       padding: 8px 8px 8px 16px;
       text-decoration: none;
       font-size: 25px;
       color: #818181;
       display: block;
       transition: 0.3s;
     }

     .topNav li[id="logInInfo"] a {
       font-size: 18px;
     }

    </style>
  </head>
  <body>

    <div id="mySidenav" class="sidenav">
      <h3 style="font-size:40px;color:rgb(175,200,229);display:inline;margin-left:26px; auto;">Nominees</h1>
      <% if @proposals %>
        <% @proposals.each do |proposal| %>
        <h3><a class="proposalLink"><a href="#" onclick="documentReadyCalls(<%= proposal.id %>); return false"><%= proposal.name %></a></h3>
        <hr>
        <% end %>
      <% end %>
    </div>

    <div class="topNav">
      <ul style="list-style-type:none">
        <li id="logInInfo">
          <% if current_user %>
            <a href="#" onclick="userProfileTemplate(); return false;" style="float:left">My Profile</a>
            <%= link_to "Log Out", logout_path, { :method => "delete", :style=> 'float:right'  } %>
          <% else %>
            <a href = "#" onclick="loginTemplate(); return false;" style="float:left">Log In</a>
            <%= link_to "Sign Up", new_user_path, { :style=> 'float:right' } %>
          <% end %>
        </li>
        <hr style="clear:both;">
        <li><a href="#" onclick="indexTemplate(); return false">View Nominees</a></li>
        <hr>
        <% if current_user %>
          <% if current_user.proposal %>
            <li><%= link_to "Edit Your Proposal", edit_proposal_path(current_user.proposal) %></li>
            <hr>
          <% elsif !current_user.admin && !current_user.proposal %>
            <li><%= link_to "Submit a Proposal", new_proposal_path %></li>
            <hr>
          <% end %>
          <li><%= link_to "Edit Your Profile", edit_user_path(current_user) %></li>
        <% end %>
      </ul>
    </div>

    <navbar class="sticky">
      <ul style="list-style-type:none;margin:0;padding:0;">
        <li><a id="topNavBurger" href="#" onclick="showTopNav(); return false;" style="font-size:40px;color:rgb(175,200,229);">&#9776;</a></li>
        <li><h1 style="display:inline"><a href="#" onclick="homeTemplate(); return false;">sheBuiltNYC</a></h3></li>
      </ul>
    </navbar>

    <!-- content -->
    <div class="main">
      <% if flash[:non_admin_warning] %>
        <h1 style="color:red"><%= flash[:non_admin_warning] %></h1>
      <% end %>
      <%= yield %>
    </div>



  </body>
</html>
