<!DOCTYPE html>
<html>
  <head>
    <title>New Monuments to Women's History</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

        <%= link_to "Home", root_path %>
        <%= link_to "View Proposals", proposals_path %>
        <% if logged_in? %>
          <% if current_user.name.empty? %>
            <%= link_to "#{current_user.email}'s Profile", user_path(current_user) %>
          <% else %>
            <%= link_to "#{current_user.name}'s Profile", user_path(current_user) %>
          <% end %>
          <%= link_to "Log Out", logout_path, method: "delete" %>
        <% else %>
        <%= link_to "Log In", new_session_path %>
        <%= link_to "Sign Up", new_user_path %>
        <% end %>




    <!-- content -->
    <div class="container"  role="main">
      <% if flash[:non_admin_warning] %>
        <h1 style="color:red"><%= flash[:non_admin_warning] %></h1>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
